$seconds-arrow_width: 300px;
$seconds-arrow_height: 20px;

$minute-arrow_width: 200px;
$minute-arrow_height: 20px;

$point_size: 20px;

$seconds-arrow_color: #6e228c;
$minute-arrow_color: #228c3e;
$point_color: #2b0404;
