@mixin size ($height, $width) {
  width: $width;
  height: $height;
}

@mixin arrow ($height, $width, $color) {
  &__arrow {
    position: absolute;

    border: $width solid transparent;
    border-bottom: $height solid $color;
    border-top: none;
    &:after {
      content: "";
      position: absolute;
      left: -$width;
      top: $height;

      border: $width solid transparent;
      border-top: $height solid $color;
      border-bottom: none;
    }
  }
}
