$circle-size: 30rem;
$background-size: 28rem;
$stopwatch-size: 1rem;
$theme-position: 19rem;
$hour-hand: 3600s;
$minutes-hand: 60s;
$circle-color: linear-gradient(blue, yellow);
$background-color: #00000087;
