%content-center {
  justify-content: center;
  align-items: center;
}

%watch-size {
  height: $watch-size;
  width: $watch-size;
}

%clock-size {
  width: $watch-size - ($watch-size * 0.1);
  height: $watch-size - ($watch-size * 0.1);
}

%second-size {
  height: ($watch-size * 0.03);
  width: ($watch-size * 0.97);
}

%position-center {
  bottom: 50%;
  left: 50%;
}

%purple-soft-color {
  background: radial-gradient(
    circle,
    rgba(148,187,233,1) 9%,
    rgba(238,174,202,1) 100%
  );
}

%blue-gradient-color {
  background: radial-gradient(
    circle,
    rgba(238,174,202,1) 4%,
    rgba(148,187,233,1) 100%
  );
}
