$arrow-radius: 7px;
$clock-width: 400px;
$clock-height: 400px;
$bdr-circle: 50%;
$dot-width: 17px;
$dot-height: 17px;

$clr-red: red;
$clr-gey: grey;
$clr-blue: blue;

$hour-time: 3600s;
$minute-time: 60s;
