$seconds-color: #2c8000;
$minutes-color: #0700ff;
$center-color: #f6a603;
$border-color: #000;
$border-size: 1vmin;
$border-type: dotted;
$stopwatch-size: 80vmin;
$seconds-length: 38vmin;
$minutes-length: 20vmin;
$seconds-width: 1.5vmin;
$minutes-width: 3vmin;
$center-size: 5vmin;
