@use '../utility/variables.scss' as *;

.stopwatch {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  border: 1vmin dotted $cl-border;
  border-radius: 50%;
}

.stopwatch__center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5vmin;
  height: 5vmin;
  background-color: $cl-center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.stopwatch__hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
}

.stopwatch__hand--min {
  width: 3vmin;
  height: 20vmin;
  background-color: $cl-hand-min;
  animation: rotate 3600s steps(60) infinite;
}

.stopwatch__hand--sec {
  width: 1.5vmin;
  height: 38vmin;
  background-color: $cl-hand-sec;
  animation: rotate 60s linear infinite;
}

.stopwatch--speed-up .stopwatch__hand--min {
  animation-duration: 600s;
}

.stopwatch--speed-up .stopwatch__hand--sec {
  animation-duration: 10s;
}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
