$watchSize: 500px;

$minColor: #066ce0;
$secColor: #000;
$centerColor: #d4b711;
@keyframes round {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

%borderRadius {
  border-radius: 50%;
}
