.container {
  position: relative;

  &__watch {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50vh;
    left: 50vw;
    margin-top: -$watchRadius;
    margin-left: -$watchRadius;
  }
}
