%seconds {
  border-radius: 5px;
  background-color: $seconds-color;
  transform-origin: center $clock-radius;
  animation: clock-animation 60s steps(60) infinite;
};

%minutes {
  border-radius: 5px;
  background-color: $minutes-color;
  transform-origin: center 80px;
  animation: clock-animation 3600s steps(60) infinite;
};
