.main-content {
  @include flex-center;
  height: 100vh;

  background-image: linear-gradient(
    rgba(4, 9, 30, 0.7),
    rgba(4, 9, 30, 0.7)),
    url(../images/MoonBG.jpg);
  background-size: cover;
}
