.page {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  min-width: $clock-size;
  min-height: $clock-size;

  background-image: url(https://images.wallpaperscraft.ru/image/gradient_raznotsvetnyj_abstraktsiia_203236_3840x2400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
