.page {
  background-color: #282828;
  text-align: center;
  font-size: 10px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 32px;
    flex: 1;
    min-height: 100vh;
  }
}
