@use '../utils/mixins' as mix;

.stopwatch {
  $second-animation-duration: 60s;
  $minute-animation-duration: 3600s;

  border: 1vmin dotted #000;
  position: relative;

  @include mix.flex-center;
  @include mix.stopwatch-styles(80vmin, 80vmin, transparent);

  &--speed-up {
    $second-animation-duration: 10s;
    $minute-animation-duration: 600s;
  }

  &::after {
    content: '';
    position: absolute;

    @include mix.stopwatch-styles(5vmin, 5vmin, #f6a603);
  }

  &__minute-hand,
  &__second-hand {
    position: absolute;
    bottom: 50%;
  }

  &__minute-hand {
    @include mix.stopwatch-styles(3vmin, 20vmin, #0700ff);
    @include mix.animate-stopwatch-hand(
        $minute-animation-duration,
        steps(60, end)
    );
  }

  &__second-hand {
    @include mix.stopwatch-styles(1.5vmin, 38vmin, #2c8000);
    @include mix.animate-stopwatch-hand($second-animation-duration, linear);
  }
}
