$box-size: 400px;
$clock-radius: 200px;
$seconds-color: blue;
$minutes-color: red;
$hand-minutes-width: 0.05 * $clock-radius;
$hand-minutes-height: 0.4 * $clock-radius;
$hand-minutes-position-top: $clock-radius - $hand-minutes-height;
$hand-seconds-width: 0.05 * $clock-radius;
$hand-seconds-position: $clock-radius - ($hand-seconds-width / 2);
$dot-center: $clock-radius - (0.1 * $clock-radius / 2);
