$watch-size: 700px;
$second-hand-height: $watch-size / 2.5;
$second-hand-width: $second-hand-height / 7;
$minute-hand-height: $watch-size / 2.2;
$minute-hand-width: $minute-hand-height / 6.3;
$dark-main-color: #17202a;
$light-main-color: #aeb6bf;
