
.watch-container__watch {
  margin: 50px auto;
}

.watch {
  width: $watch-width;
  height: $watch-height;
  position: relative;

  &__second-arrow {
    position: absolute;
    background-color: rgb(31, 145, 180);
    height: 6px;
    width: $second-arrow-width;
    border-radius: 8px;
    transform-origin: center left;
    @extend %centre-position;
    animation: move-arrows  60s infinite steps(60, end);
  }

  &__middle-point {
    position: absolute;
    @include centre-point(14px);
    border-radius: 50%;
    background-color: rgb(31, 145, 180);
    @include  centre-position(50%);
    transform: translate(-50%, -50%);
  }

  &__minute-arrow {
    position: absolute;
    background-color: rgb(214, 104, 104);
    height: 7px;
    width: $minute-arrow-width;
    border-radius: 8px;
    transform-origin: center left;
    @extend %centre-position;
    animation: move-arrows  3600s infinite steps(360, end);
  }
}

@keyframes move-arrows {
  0% {
    transform: rotate($start-position);
  }

  100% {
    transform: rotate($end-position);
  }
}
