.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 243, 224);

  &__border-inner {
    border: 10px dashed rgb(143, 140, 140);
    background-color: rgb(16, 97, 190);
    border-radius: 50%;
  }

  &__border-outer {
    border: 10px solid silver;
    border-radius: 50%;
  }
}
