@keyframes move {
  0% {
    transform: none;
    transform-origin: bottom center;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: bottom center;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: bottom center;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: bottom center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}
