@keyframes move {
  0% {
    transform: none;
    transform-origin: bottom center;
  }

  5% {
    transform: rotate(18deg);
    transform-origin: bottom center;
  }

  10% {
    transform: rotate(36deg);
    transform-origin: bottom center;
  }

  15% {
    transform: rotate(54deg);
    transform-origin: bottom center;
  }

  20% {
    transform: rotate(72deg);
    transform-origin: bottom center;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: bottom center;
  }

  30% {
    transform: rotate(108deg);
    transform-origin: bottom center;
  }

  35% {
    transform: rotate(126deg);
    transform-origin: bottom center;
  }

  40% {
    transform: rotate(144deg);
    transform-origin: bottom center;
  }

  45% {
    transform: rotate(162deg);
    transform-origin: bottom center;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: bottom center;
  }

  55% {
    transform: rotate(198deg);
    transform-origin: bottom center;
  }

  60% {
    transform: rotate(216deg);
    transform-origin: bottom center;
  }

  65% {
    transform: rotate(234deg);
    transform-origin: bottom center;
  }

  70% {
    transform: rotate(252deg);
    transform-origin: bottom center;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: bottom center;
  }

  80% {
    transform: rotate(288deg);
    transform-origin: bottom center;
  }

  85% {
    transform: rotate(306deg);
    transform-origin: bottom center;
  }

  90% {
    transform: rotate(324deg);
    transform-origin: bottom center;
  }

  95% {
    transform: rotate(342deg);
    transform-origin: bottom center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}

@keyframes move2 {
  0% {
    transform: none;
    transform-origin: bottom center;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: bottom center;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: bottom center;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: bottom center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}
