.arrow {
  position: absolute;
  top: 0;

  transform-origin: center bottom;
  transform: translate(-50%, -50%);

  &--long {
    height: 50%;
    width: 10px;
    background-color: rebeccapurple;
    border-radius: $border-radius;
    animation: long-arrow-move 5s linear infinite;
  }

  &--short {
    top: 20%;
    height: 30%;
    width: 10px;
    background-color: mediumpurple;
    border-radius: $border-radius;
    animation: short-arrow-move 60s linear infinite;
  }
}

@keyframes long-arrow-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes short-arrow-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
