.ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $ball-size;
  height: $ball-size;
  z-index: 1;

  background-color: hotpink;
  border-radius: $border-radius;
  transform: translate(-50%, -50%);
}
