body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/679029.jpg);
  @include setBackground();
}
