body,
div {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-image: url("/images/1626952601_10-kartinkin-com-p-svetlaya-stena-fon-krasivo-11.jpeg");
  background-position: center;
  background-size: cover;
}
