.buttons {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 100px;
  left: 15px;
  top: 310px;

  &__label {
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 4rem;
    background: #efeeee;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
      -10px -10px 10px rgba(255,255,255,0.6);

    & .fas {
      display: grid;
      place-items: center;
      font-size: 4rem;
      color: gray;
    }

    &:active {
      box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
        inset -10px -10px 10px rgba(255,255,255,0.6);
    }

    &:active .fas {
      color: $b;
    }
  }

  &__input {
    visibility: hidden;
  }

  &__label2 {
    width: 30px;
    height: 34px;
    cursor: pointer;
    border-style: solid;
    border-width: 15px;
    border-color: gray;
    background: #efeeee;
    transition: all 0.3s ease-in;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
      -10px -10px 10px rgba(255,255,255,0.6);

    &:active {
      box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
        inset -10px -10px 10px rgba(255,255,255,0.6);
      border-color: $b;
    }
  }
}
