.button {
  margin: 50px;

  &::after {
    background-color: #fff;
    border-radius: 10px;

    content: "Start";
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    color: #000;

    cursor: pointer;
  }
}
