.container__circle {
  @include circle-size;
  border-radius: 50%;

  &--color-1 {
    @include circle-element-position;
    background-color: $main-color;
    border: $border-size-m $first-color;
  }

  &--color-2 {
    background-color: $main-color;
    border: $border-size-l $second-color;
  }

  &--color-3 {
    background-color: $third-color;
  }

  &--color-4 {
    background-color: $main-color;
    border: $border-size-s $fourth-color;
  }

  &--color-5 {
    background-color: $main-color;
    border: $border-size-s $third-color;
  }

  &--color-6 {
    background-color: $second-color;
  }

  &--color-7 {
    @include circle-element-position;
    background-color: $main-color;
    border: $border-size-xs $fourth-color;
  }

  &--color-8 {
    background-color: $main-color;
    border: $border-size-l $first-color;
  }

  &--color-9 {
    background-color: $main-color;
    border: $border-size-l $fourth-color;
  }

  &--color-10 {
    @include circle-element-position;
    background-color: $main-color;
    border: $border-size-s $third-color;
  }

  &--color-11 {
    background-color: $main-color;
    border: $border-size-m $first-color;
  }

  &--color-12 {
    background-color: $second-color;
  }

}
