.clock__sec {
  display: flex;
  border-radius: 50px;
  height: $leng-sec;
  width: $width-arrows-clock;
  background-color: gray;

  position: absolute;
  left: 50%;
  top: calc(50% - #{$leng-sec});
  transform: translate(-50%, -100%);

  transform-origin: bottom center;
  animation: move 60s steps(60) infinite;
}
