.clock {
  &__onen {
    @extend %clock-times;
    top: 0;
    left: 234px;
  }

  &__threen {
    @extend %clock-times;
    top: 231.2px;
    left: 478px;
  }

  &__sixn {
    @extend %clock-times;
    top: 464px;
    left: 242px;
  }

  &__ninen {
    @extend %clock-times;
    top: 231.2px;
    left: 6px;
  }
}
