.clock {
  height: 100vh;

  &__min {
    display: flex;
    border-radius: 50px;
    height: $leng-min;
    width: $width-arrows-clock;
    background-color: black;

    position: absolute;
    left: 50%;
    top: calc(50% - #{$leng-min});
    transform: translate(-50%, -100%);

    transform-origin: bottom center;
    animation: move 3600s steps(60) infinite;
  }
}
