.circle {
  position: absolute;

  height: $size_big_circle;
  width: $size_big_circle;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: $center_circle_color 10px solid;
  border-radius: 200px;
  background: $background_color_clock;
}

.center-circle {
  position: absolute;

  left: $center_circle_coordinates;
  top: $center_circle_coordinates;

  height: $width_circle;
  width: $width_circle;

  border-radius: 50%;
  background: $center_circle_color;
}
