.watch-center {
  @extend %watch-center;
}

.clock-face {
  @include circle($circle-size);
  @extend %clock-face-centering;

  border: 0.3vh solid black;
  background-color: $c-bg-color;

  &__hand {
    position: absolute;
    top: 15vh;
    height: 35%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
}

.hand-minute {
  animation: rotate 360s infinite;
  background-color: $c-minutes-hand;
  border-radius: 50%;
  width: 0.5vh;
}

.hand-second {
  animation: rotate 60s infinite steps(60);
  background-color: $c-seconds-hand;
  border-radius: 50%;
  width: 0.3vh;
  background-size: cover;
}
