.clock__seconds-hand {
  @extend %hand;
  transform-origin: bottom;
  height: 295px;
  width: 2px;
  animation: seconds 60s linear infinite;
}

@keyframes seconds {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
