.clock {
  @include watch($watchSize, $handsBackground, $watchBackground);
  position: relative;
  transform: rotate(180deg);
  width: $watch-size;
  height: 100px;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpickimage.ru%2Fdetskie-risunki%2Ftechnology%2Fchasy-bez-strelok%2F&psig=AOvVaw3mMQZ9UHGd9KztYNYznoD-&ust=1672357822777000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJCO6MHAnfwCFQAAAAAdAAAAABAF");
  background-position: center;
  background-size: cover;

  &__center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $center-size;
    height: $center-size;
    background-color: $watchBackground;
    border-radius: 50%;
  }

  &__minute-hand {
    @include handMinute($widthHandMinute, $heightHandMinute, $handsBackground);
    position: absolute;
    top: 50%;
    left: calc(50% - #{$widthHandMinute} / 2);
    animation: move steps(60) 3600s infinite;

    &--second-hand {
      @include handMinute($widthHandSecond,$heightHandSecond,$handsBackground);
      position: absolute;
      top: 50%;
      left: calc(50% - #{$widthHandSecond} / 2);
      animation: move steps(60) 60s infinite;
      transform-origin: center 0;
    }
  }
}
