.control {
  display: flex;
  padding: 10px;
  column-gap: 20px;
  border: 2px solid #000;
  border-radius: 6px;

  &__btn {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;

    &--start {
      background-color: #0a0;
    }

    &--stop {
      background-color: #f00;
    }

    &--reset {
      background-color: #00f;
    }
  }
}
