.controls {
  &__start,
  &__pause,
  &__reset {
    margin: 0 20px;
    border: 5px solid $primary-color;
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 30px;
    cursor: pointer;
  }
}
