
.ContainerWatch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  @include square (800px);
  margin: auto;
  background-color: cadetblue;
  border-radius: 50%;
}

.ContainerWatch__minute {
  position: absolute;
  @include rectangle (8px, 400px);
  bottom: 350px;
  border-radius: 4px;
  background-color: rgb(239, 22, 80);
  transform-origin: 4px 350px;
  animation: RotMinute 60s linear infinite;
}

.ContainerWatch__minute::after {
  @include square (60px);
  border-radius: 50%;
  content: "";
  position: absolute;
  border: 3px dotted rgb(239, 22, 80);
  left: -30px;
  top: 320px;
}

.ContainerWatch__second {
  position: absolute;
  @include rectangle (10px, 320px);
  bottom: 350px;
  border-radius: 5px;
  background-color: rgb(66, 65, 65);

  transform-origin: 5px 270px;
  animation: RotSec 3600s linear infinite;
}

.ContainerWatch__second::after {
  content: "^";
  position: absolute;
  font-size: 119px;
  color: rgb(66, 65, 65);
  left: -23px;
  top: -35px;
}

@keyframes RotMinute {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes RotSec {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
