.dial {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 500px;
  border: 3px dotted #000;
  border-radius: 50%;
  &__axis {
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    z-index: 10;
  }
  &__arrow {
    &-minute {
      position: absolute;
      left: 244px;
      bottom: 50%;
      height: 150px;
      width: 12px;
      background-color: #f00;
      transform-origin: bottom;
      z-index: 9;
      animation: move 60s linear infinite;
    }
    &-second {
      position: absolute;
      left: 245px;
      bottom: 50%;
      height: 240px;
      width: 10px;
      background-color: #0f0;
      transform-origin: bottom;
      z-index: 8;
      animation: move 1s linear infinite;
    }
  }
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
