.main__display {
  position: relative;
}

.display {
  @extend %alignment;
  @include circle($displaySize);
  border: 2px solid #000;

  &__hands-center {
    position: absolute;
    @include circle($handsSize);
    background-color: $colorBlue;
  }

  &__second-hand {
    @extend %postionHands;
    @extend %handsview;
    height: 220px;
    background-color: $colorBlue;
    transform-origin: bottom center;
    animation: animation 60s linear infinite;
  }

  &__minute-hand {
    @extend %postionHands;
    @extend %handsview;
    height: 150px;
    background-color: #f00;
    transform-origin: bottom center;
    animation: animation 3600s linear infinite;
  }

  @keyframes animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
