.dot {
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 50%;
  z-index: 99;
}
