.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  @include size (15px, 15px);

  border: 2px solid #d0d0d0;
  border-radius: 50%;
  background-color: #ffd700;

  transform: translate(-50%, -50%);
}
