.intro {
  position: absolute;
  background-color: yellow;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__welcome {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 60px;
    justify-self: center;

    @media (max-width: 640px) {
      font-size: 40px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 18px;
  }

  &__info {
    position: absolute;
    text-align: center;
    transform: translate(0, 75%);
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border: 2px solid green;
    border-radius: 15px;
    visibility: hidden;

    & > p > strong {
      font-size: 20px;
    }

    & > p {
      padding: 0;
      font-size: 16px;

      @media (max-width: 640px) {
        font-size: 12px;
      }

      @media (max-height: 640px) {
        font-size: 12px;
      }
    }
  }

  &__label {
    display: flex;
    height: 50px;
    fill: orangered;
    align-items: center;

    & > svg {
      width: 50px;
      height: 50px;
    }

    & > svg > path {
      transform: scale(9.8%);
    }
  }

  &__checkbox {
    position: absolute;
    top: 40%;
    left: 40%;
  }

  &__tips-checkbox:checked ~ &__info {
    visibility: visible;
  }
}
