body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hand {
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 0%;
  transform-origin: bottom;
}
