.hands {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__pin {
    position: absolute;
    z-index: 1;
    border: $border-circle-pin;
    border-radius: $border-circle-hands;
  }

  &__seconds {
    position: absolute;
    bottom: 0;
    padding-top: secondsSize($vertical-circle-size);
    border-left: $hands-width black;
    border-radius: $border-circle-hands;
    transform-origin: $transform-origin-bottom;
    animation: move $move-time-seconds $animation-speed infinite;
  }

  &__minutes {
    position: absolute;
    bottom: 0;
    padding-top: minutesSize($vertical-circle-size);
    border-left: $hands-width red;
    border-radius: $border-circle-hands;
    transform-origin: $transform-origin-bottom;
    animation: move $move-time-minutes $animation-speed infinite;
  }
}
