.hand {
  display: flex;
  flex-direction: column;

  &__half-hour {
    height: 27vw;
    max-height: 27vh;
    width: 4vw;
    max-width: 4vh;
    &:nth-child(1) {
      background-color: blue;
    }
  }

  &__half-minute {
    height: 37vw;
    max-height: 37vh;
    width: 3vw;
    max-width: 3vh;
    &:nth-child(1) {
      background-color: red;
    }
  }

}
