@import "./keyframes.scss";

.hours {
  background: #000;
  border-radius: 10px;
  height: 15%;
  left: 48.75%;
  position: absolute;
  top: 35%;
  transform-origin: 50% 100%;
  width: 2.5%;

  &-container {
    animation: rotate 43200s steps(12) infinite;
  }
}
