@keyframes move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes red-hand {
  0% {
    background-color: red;
  }
  35% {
    background: pink;
  }
  100% {
    background-color: yellow;
  }
}
