@keyframes rotate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#minute {
  animation: rotate 60s infinite linear;
}

#second {
  animation: rotate 5s infinite linear;
}
