.line {
  position: absolute;
  height: 45px;
  width: 5px;
  background-color: aqua ;
  top: 8px;
  left: 48px;
  border-radius: 5px;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 2px 42px;
}
