.lineHour {
  position: absolute;
  height: 30px;
  width: 5px;
  background-color: red;
  left: 48px;
  top: 20px;
  border-radius: 5px;
  animation-name: move;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 2px 29px;
}
