.minute {
  height: 100px;
  width: 8px;
  background-color: aquamarine;
  border-radius: 8px;
  position: absolute;
  top: 100px;
  animation-name: rotateMinute;
  animation-duration: 3600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes rotateMinute {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
