.minuteHand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -5px;
  width: 10px;
  height: 280px;
  background-color: green;
  border-radius: 5px;
  transform-origin: bottom;
  animation: rotate 60s linear infinite;
}
