.minutes-hand {
  height: 20vmin;
  width: 3vmin;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transform-origin: 50% 100%;

  background-color: $blue;

  animation: move 3600s steps(60) infinite;
}
