.minutes {
  @include hand;
  @include page-center-align;

  display: inline-block;
  height: $seconds-hand-height / 2;

  transform-origin: 0 0;
  background-color: aquamarine;
  animation: rotation 3600s linear infinite;
}
