@import "../utils/mixins";

.minute {
  background-color: red;
  width: 110px;
  height: 6px;
  border-radius: 50px;

  position: absolute;
  @include center(50%);

  transform-origin: left;

  animation-name: move;
  animation-duration: 3600s;
  animation-timing-function: steps(60);
  animation-iteration-count: infinite;

  @keyframes move {
    from {
      transform: rotate(-90deg);
    }

    to {
      transform: rotate(270deg);
    }
  }
}
