.minutes {
  width: $commonWidth;
  height: $secondsHeight - $dotSizes - 100px;
  background-color: pink;
  border-radius: 20px;
  position: absolute;
  top: $minutesHeight;
  animation: tok 3600s linear 0s infinite;
  transform-origin: 0 100%;
}

@keyframes tok {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
