@import "../styles/veriables.scss";
@include handAnimation;

.clock__minuteHand {
  position: absolute;
  width: 10px;
  height: 25vmin;
  bottom: $bottom;
  transform-origin: center bottom;
  background-color: rgb(28, 118, 134);
  border-radius: $borderRadius;
  animation: rotation 60s linear infinite;
}
