.stopwatch__minute-hand {
  position: absolute;
  bottom: 50%;
  left: 48%;
  height: 20vmin;
  width: 3vmin;
  background-color: #0700ff;
  transform-origin: bottom;
  animation: hand-animation 3600s steps(60) infinite;
}
