.minute-hand {
  height: $minute-hand-height;
  width: $hand-width;
  background-color: red;
  border-radius: 20px;
  display: block;
  position: relative;
  transition: 60s;
  transform-origin: bottom;
  animation: move 60s linear infinite;
}
