.minutes-hand {
  width: $hands-width;
  height: $minutes-hand-height;
  background-color: $color-red;
  border-radius: $hands-border-radius;
  @extend %timer-animation;
  animation-duration: 3600s;
  @extend %hands-transformation;
}
