.numbers {
  width: 75%;
  height: 75%;
  text-align: center;

  &__digit {
    display: block;
    color: $main-color;
  }

  &:nth-child(1) {
    position: absolute;
    bottom: -50px;
    right: -95px;
  }

  &:nth-child(2) {
    position: absolute;
    bottom: -180px;
    right: 35px;
  }

  &:nth-child(3) {
    position: absolute;
    bottom: -50px;
    right: 170px;
  }

  &:nth-child(4) {
    position: absolute;
    bottom: 70px;
    right: 40px;
  }
}
