.n1 {
  transform: rotate(30deg);
}

.n1 p {
  transform: rotate(-30deg);
}

.n2 {
  transform: rotate(60deg);
}

.n2 p {
  transform: rotate(-60deg);
}

.n3 {
  transform: rotate(90deg);
}

.n3 p {
  transform: rotate(-90deg);
}

.n4 {
  transform: rotate(120deg);
}

.n4 p {
  transform: rotate(-120deg);
}

.n5 {
  transform: rotate(150deg);
}

.n5 p {
  transform: rotate(-150deg);
}

.n6 {
  transform: rotate(180deg);
}

.n6 p {
  transform: rotate(-180deg);
}

.n7 {
  transform: rotate(210deg);
}

.n7 p {
  transform: rotate(-210deg);
}

.n8 {
  transform: rotate(240deg);
}

.n8 p {
  transform: rotate(-240deg);
}

.n9 {
  transform: rotate(270deg);
}

.n9 p {
  transform: rotate(-270deg);
}

.n10 {
  transform: rotate(300deg);
}

.n10 p {
  transform: rotate(-300deg);
}

.n11 {
  transform: rotate(330deg);
}

.n11 p {
  transform: rotate(-330deg);
}

.n12 {
  transform: rotate(360deg);
}

.n12 p {
  transform: rotate(-360deg);
}
