.page {
  @include flex-position;
  margin: 0;
  min-height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;

  &__instuction {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    font-size: 20px;
    color: rgb(65, 83, 95);
  }
}
