.wrapper {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 640px) {
    justify-content: space-around;
  }
}

.mohito-label {
  display: block;
  position: absolute;
  width: 65px;
  height: 60px;
  fill: limegreen;
  top: 10px;
  left: 20px;

  & > svg {
    width: 65px;
    height: 60px;
  }

  & > svg > path {
    transform: scale(11%);
  }
}

.mohito-checkbox {
  position: absolute;
  top: 25px;
  left: 25px;

  &:checked ~ .wrapper {
    background-image: url("../../src/image/mohito.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  &:checked ~ .wrapper > .stopwatch {
    z-index: -1;
  }
}

.light-button-on:checked ~ .wrapper {
  background-color: black;
}

.light-button-on:checked ~ .wrapper > .stopwatch {
  background-image: url("../../src/image/stopwatch.7c63fcf4.png");
  background-size: 101%;
}

.light-button-on:checked ~ .wrapper > .stopwatch > .stopwatch__panel {
  background-color: rgba(100%, 100%, 10%, 0.7);
  box-shadow: 0 0 $shadow-prop $shadow-prop rgba(100%, 100%, 10%, 0.7);
}

