/* #region page */

.page {
  &__body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    @include flex;
  }
}

.stopwatch__center--page {
  @include centered;
}

.stopwatch__sec-hand--page {
  @include centered;
}

.stopwatch__min-hand--page {
  @include centered;
}

/* #endregion */
