.point {
  width: $sec-point-size;
  height: $sec-point-size;
  background-color: $point-color;
  border-radius: 50%;
}

.mid-point {
  background-color: $mid-point-color;
  width: $mid-point-size;
  height: $mid-point-size;
  border-radius: 50%;
}
