
.point {
  justify-self: center;
  align-self: flex-start;
  position: absolute;

  &__item {
    position: absolute;
    width: $width-point;
    height: $height-point;
    border-radius: 50%;
    background-color:$color-point;

    @for $ch from 1 through 60 {
      &:nth-child(#{$ch}) {
        transform: rotate(#{$ch*6}deg);
          transform-origin:40vmin;
      }
    }
  }
}
