.stopwatch__oclock-point {
  position: relative;
  overflow: $hidden;
  left: 49%;
  top: 50%;
  @include point-size;
  border-radius: 50%;
  background-color: $second-color;
  transform: translateY(-50%);
}
