* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#003b59, #414a4c, #fff8e7);
}
