.stop-watch {
  position: relative;
  box-sizing: border-box;
  width: $clock;
  height: $clock;
  border: ($clock / 2 - $arrow-height - 2) solid #8d0d4d;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: 150px;
}
