.screen {
  display: flex;
  justify-content: space-around;

  padding: 5px 20px;
  overflow: hidden;

  border: 1px solid #9f3c2a;
  border-radius: 5px;
  background-color: #fff;

  font: 600 44px Arial, sans-serif;

  &__digit-container {
    position: relative;
    height: $digit-cell-height;
    flex-basis: 40%;
  }

  &__digit {
    position: absolute;

    height: $digit-cell-height;

    text-align: center;
    line-height: $digit-cell-height;

    animation-iteration-count: infinite;

    &--seconds {
      animation-duration: 60s;
      top: 2px;
      left: 0;

      @for $i from 0 through 59 {
        &--#{$i} {
          animation-name: second-move-#{$i};

          &::before {
            @if $i < 10 {
              content: "0#{$i}";
            }

            @else {
              content: "#{$i}";
            }
          }
        }
      }
    }

    &--minutes {
      animation-duration: 3600s;
      top: 2px;
      right: 0;

      @for $i from 0 through 59 {
        &--#{$i} {
          animation-name: minute-move-#{$i};

          &::before {
            @if $i < 10 {
              content: "0#{$i}";
            }

            @else {
              content: "#{$i}";
            }
          }
        }
      }
    }
  }
}

@keyframes second-move-0 {
  0% {
    @include digit-shown-position;
  }

  #{get-key-frame-value(1)} {
    @include digit-gone-position;
  }

  #{get-key-frame-value(59)} {
    @include digit-init-position;
  }

  100% {
    @include digit-shown-position;
  }
}

@for $i from 1 through 59 {

  @keyframes second-move-#{$i} {
    $frame-before: $i - 1;
    $frame-show: $i;
    $frame-after: $i + 1;

    0% {
      @include digit-init-position;
    }

    #{get-key-frame-value($frame-before)} {
      @include digit-init-position;
    }

    #{get-key-frame-value($frame-show)} {
      @include digit-shown-position;
    }

    #{get-key-frame-value($frame-after)} {
      @include digit-gone-position;
    }

    100% {
      @include digit-gone-position;
    }
  }
}

@keyframes minute-move-0 {
  0% {
    @include digit-shown-position;
  }

  #{get-key-frame-value(59 / 60)} {
    @include digit-shown-position;
  }

  #{get-key-frame-value(1)} {
    @include digit-gone-position;
  }

  #{get-key-frame-value(59 + 59 / 60)} {
    @include digit-init-position;
  }

  100% {
    @include digit-shown-position;
  }
}

@for $i from 1 through 59 {
  $frame-before-show: $i - 1 / 60;
  $frame-show: $i;
  $frame-before-disappear: $i + 59 / 60;
  $frame-disappear: $i + 1;

  @keyframes minute-move-#{$i} {
    0% {
      @include digit-init-position;
    }

    #{get-key-frame-value($frame-before-show)} {
      @include digit-init-position;
    }

    #{get-key-frame-value($frame-show)} {
      @include digit-shown-position;
    }

    #{get-key-frame-value($frame-before-disappear)} {
      @include digit-shown-position;
    }

    #{get-key-frame-value($frame-disappear)} {
      @include digit-gone-position;
    }

    100% {
      @include digit-gone-position;
    }
  }
}
