.second-hand {
  @include hand;
  @include position;
  @include animation;
  transform: translateX(-50%);
  height: $second-hand-height;
  background-color: $blue;
  animation-duration: $second-hand-animation-duration;
}
