.second {
  position: absolute;
  bottom: 50%;
  width: 10px;
  height: 150px;
  background-color: yellow;
  border-radius: 5px;
  animation: rotate 60s infinite;
  transform-origin: bottom center;
}
