.second-hand {
  height: $second-hand-height;
  width: $hand-width;
  background-color: blue;
  border-radius: 20px;
  position: absolute;
  animation: move 3600s linear infinite;
  transform-origin: bottom;
}
