@import "./keyframes.scss";

.seconds {
  background: #000;
  border-radius: 10px;
  height: 40%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;

  &-container {
    animation: rotate 60s steps(60) infinite;

  }
}
