.clock__secondHand {
  position: absolute;
  width: 5px;
  height: 35vmin;
  display: flex;
  justify-content: center;
  bottom: $bottom;
  transform-origin: center bottom;
  background-color: yellow;
  border-radius: $borderRadius;
  animation: rotation 60s linear infinite;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
