.seconds {
  position: relative;
  left: 50%;

  display: inline-block;
  height: 300px;
  @include clock-arrow;

  background-color: coral;

  transform: translateX(-50%);
  animation-name: rotation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @keyframes rotation {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
