.second {
  width: 4px;
  height: 200px;
  background-color: salmon;
  border-radius: 4px;

  animation-name: rotateSecond;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes rotateSecond {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }

}
