.seconds-hand {
  width: $hands-width;
  height: $seconds-hand-height;
  background-color: $color-blue;
  border-radius: $hands-border-radius;
  @extend %timer-animation;
  animation-duration: 60s;
  @extend %hands-transformation;
}
