/* #region second-hand */
.second-hand {
  position: relative;
  top: 35px;
  left: 407px;
  content: "";
  height: 350px;
  width: $hands-width;
  border-radius: $hands-border-radius;
  background-color: #ff5350;
  animation: go 60s steps(60, end) infinite;
  transform-origin: bottom;
}

@keyframes go {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* #endregion */
