.secondHand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -5px;
  width: 10px;
  height: 300px;
  background-color: red;
  border-radius: 5px;
  transform-origin: bottom;
  animation: rotate 1s linear infinite;
}
