.start-stop {
  position: relative;
  width: 125px;
  padding: 12px;
  margin-bottom: 30px;
  box-sizing: border-box;
  line-height: 18px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  color: #d15559;
  border-radius: 12px;
  background-color: rgba(223, 223, 219, 0.63);
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
