:root {
  --animation: paused;
}

.watch {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @extend %contentCenter;

  background-image: linear-gradient(to right top,
  #000, #180d13, #241723, #2c2037, #2c2c4e);
  color: $colorPrimary;

  font-family: Arial, Helvetica, sans-serif;

  &__title {
    font-size: $fontSize_m;
    text-align: center;
    letter-spacing: 5px;
  }

  &__contents {
    padding: 50px;
    border: 5px solid $colorPrimary;
    border-radius: $bRadius;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,1),
      inset 5px 5px 200px  rgba(0,0,0,1);
  }

  [type="checkbox"] {
    display: none;
  }

  &__btn {
    display: inline-block;
    margin: 10px 80px;
    padding: 10px;
    font-size: $fontSize_s;
    color: #241723;
    background-color: $colorPrimary;
    border: 2px solid #000;
    border-radius: $bRadius;
  }

  &__display {
    width: 600px;
    height: 350px;
    background: #444;

    border: 5px solid #333;
    border-radius: $bRadius;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75),
      inset 0 0 200px  rgba(0,0,0,0.5);
  }

  #btnStartStop:checked ~ .watch__display {
    --animation: running;
  }

  &__digitsDials {
    // width: 100%;
    height: 100%;

    display: flex;
    gap: 20px;
    @extend %contentCenter;
  }

  &__dial {
    width: 165px;
    height: 165px;
    display: flex;
  }

  &__textTwoDigits {
    transform: translate(90%, 25%);
  }

  &__textThreeDigits {
    transform: translate(50%, 25%);
  }

  &__circle {
    @include square(150px);
    position: absolute;
    display: flex;

    @extend %contentCenter;

    border: 7px solid #f00;
    border-radius: $bRadiusCircle;
  }

  &__circleDot {
    position: relative;
    top: -80px;
    width: 20px;
    height: 20px;
    border-radius: $bRadiusCircle;
    background: $colorPrimary;
  }

  &__circle--minutes {
    animation: circulerProgress 3600s infinite linear var(--animation);
  }

  &__circle--seconds {
    animation: circulerProgress 60s infinite linear var(--animation);
  }

  &__circle--miliSec {
    animation: circulerProgress 1s infinite linear var(--animation);
  }

  @keyframes circulerProgress {
    to {
      transform: rotate(360deg);
    }
  }

  &__timeText {
    display: flex;
    font-size: $fontSize_l;
  }

  // Code for stop watch numbers display through animation
  &__mTens::after {
    content: "0";
    animation: tens 3600s infinite linear var(--animation);
    animation-delay: 295s;
  }

  &__mSingle::after {
    content: "0";
    animation: single 600s infinite linear var(--animation);
    animation-delay: 30s;
  }

  &__sTens:after {
    content: "0";
    animation: tens 60s infinite linear var(--animation);
    animation-delay: 4.5s;
  }

  &__sSingle::after {
    content: "0";
    animation: single 10s infinite linear var(--animation);
  }

  &__msSingle::after {
    content: "0";
    animation: single 10ms infinite linear var(--animation);
  }

  &__msTens::after {
    content: "0";
    animation: single 100ms infinite linear var(--animation);
  }

  &__msThousands::after {
    content: "0";
    animation: single 1000ms infinite linear var(--animation);
  }

  @keyframes single {
    @for $digit from 0 through 10 {
      $percent: $digit/10*100%;
      @if $digit < 10 {
        #{$percent} {
          content: "#{$digit}";
        }
      }
    }
  }

  @keyframes tens {
    @for $digit2 from 0 through 6 {
      $percent: $digit2/6*100%;
      @if $digit2 < 6 {
        #{$percent} {
          content: "#{$digit2}";
        }
      }
    }
  }
}
