.text {
  z-index: 1;
  color: rgb(146, 144, 144);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  font-size: 120px;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollLeft 1000s linear infinite;
}
