.title {
  margin: 45px 140px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  background-color: rgb(107, 100, 111);
  color: rgb(185, 215, 32);
  padding: 4px 20px;
  text-transform: uppercase;
  box-shadow: 1px 1px 21px 15px rgba(168, 211, 60, 0.86);
}
