$watchSize: 80vmin;
$minutesLength: 20vmin;
$minutesWidth: 3vmin;
$minutesColor: #0700ff;
$secondsLength: 38vmin;
$secondsWidth: 1.5vmin;
$secondsColor: #2c8000;
$centerDiameter: 5vmin;
$centerColor: #f6a603;
