$size-watch: 80vmin;
$size-watch-center: $size-watch / 15;
$width-watch-hand-minute: $size-watch / 25;
$width-watch-hand-second: $size-watch / 35;
$position-top-second: $size-watch / 4;
$position-center: ($size-watch / 2) - ($size-watch-center / 2);
$position-hand-minute: ($size-watch / 2) - ($width-watch-hand-minute / 2);
$position-hand-second: ($size-watch / 2) - ($width-watch-hand-second / 2);
