$border-size: 8px;
$watch-size: 80vmin;
$watch-border-color: #000;
$hand-size: 8px;
$hand-height: 30%;
$hand-minute-color: #00f;
$hand-second-color: #008000;
$center-color: #ffd500;
$center-border-size: 1px;
