$watch-bg: lightblue;
$watch-border-color: gray;
$watch-border-width: 3px;
$watch-width-and-height: 80vmin;
$minute-width: 4px;
$hour-width: 6px;
$min-arrow-bg: orange;
$hour-arrow-bg: #917abe;
$dot-bg: darkcyan;
