.wall {
  @include wall($wall-size);
  display: flex;
  justify-content: center;
  align-items: center;

  &__clock {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: blueviolet;

    &::before {
      content: "";
      @include clockHands(300px);
      background-color: $minute-color;
      animation: rotation $animation-duration linear infinite;
    }

    &::after {
      content: "";
      @include clockHands(250px);
      background-color: $hour-color;
      animation: rotation $animation-duration * 60 linear infinite;
    }
  }
}
