.warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: $warning-size;
  height: $warning-size;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  animation-name: appearance;
  animation-duration: $duration-of-warning;
  animation-timing-function: linear;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__instruction {
    font-size: 20px;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
