.watch {
  @include positionWatch;
  @include circle($watch-size);

  background-color: rgb(243, 245, 214);
  border: $watch-border solid #08401d;

  &__dot {
    @include positionWatch;
    @include circle(20px);
    z-index: 1;
    background-color: #262626;
  }

  &__second {
    @include positionArrow;
    width: 1px;
    height: 100%;

    animation: time 60s infinite linear;

    &::before {
      position: absolute;
      height: $second-size;
      width: $second-size / 50;
      top: ($watch-size / 2) - $second-size;
      content: "";
      background-color: #ac1d1d;
      border-radius: 20%;
    }
  }

  &__minute {
    @include positionArrow;
    width: 3px;
    height: 100%;
    animation: time 3600s infinite linear;

    &::before {
      position: absolute;
      height: $minute-size;
      width: $minute-size / 50;
      top: ($watch-size / 2) - $minute-size;
      content: "";
      background-color: #510606;
      border-radius: 30%;
    }
  }
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
