.watch-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, rgba(2,0,36,1) 0%, 
  rgba(124, 85, 72, 0.4) 72%, 
  rgba(0,212,255,1) 100%);
}
