.watch__minute {
  position: absolute;
  bottom: 50%;
  right: 50%;

  height: $minute-height;
  width: $minute-width;

  @extend %hands-styles;

  animation: rotate infinite 3600s linear;
  transform-origin: bottom center;
}

.watch__second {
  position: absolute;
  bottom: 50%;
  right: 50%;

  height: $second-height;
  width: $second-width;

  @extend %hands-styles;

  animation: rotate infinite 60s linear;
  transform-origin: bottom center;

}

@keyframes rotate {
  from {
    transform-origin: (bottom);
  }
  to {
    transform: rotate(360deg);
  }
}
