.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size*1vmin;
  height: $size*1vmin;

  &__watch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.8vmin*$size;
    height: 0.8vmin*$size;
    position: relative;
  }
}
