.wrapper {
  @include flex-position;
  @include circle($wraper-diameter);

  position: relative;
  background-color: rgb(65, 83, 95);

  &__button {
    display: none;
  }

  &__button-label {
    @include flex-position;
    @include circle(50px);

    position: absolute;
    top: $wraper-diameter / 2 - 25px;
    background-color: rgba(65, 83, 95, 0.7);
    color: rgb(233, 177, 72);
    border: 3px solid rgb(233, 177, 72);
    cursor: pointer;
    z-index: 1;
    transition-duration: 0.3s;

    &:hover {
      background-color: rgb(65, 83, 95);
      transform: scale(1.4);
    }

    &:active {
      background-color: green;
    }
  }

  &__button:checked ~ .watch::after {
    animation-play-state: paused;
  }

  &__button:checked ~ .watch::before {
    animation-play-state: paused;
  }
}
