@mixin stopwatch {
  width: $stopwatchSize;
  height: $stopwatchSize;
  border-radius: 50%;
}

@mixin secondsHand {
  width: $handsWidth;
  height: $secondsHandHeight;
  border-radius: $handsBorderRadius;
}

@mixin minutesHand {
  width: $handsWidth;
  height: $minutesHandHeight;
  border-radius: $handsBorderRadius;
}

@mixin stopwatchCenter {
  width: $stopwatchCenterSize;
  height: $stopwatchCenterSize;
  border-radius: 50%;
}
