$stopwatchSize: 700px;
$stopwatchColor: #ddd;
$stopwatchBorderColor: #444;

$stopwatchTopIndent: calc((100vh - #{$stopwatchSize}) / 2);

$secondsHandHeight: 300px;
$minutesHandHeight: 200px;
$handsWidth: 10px;
$handsBorderRadius: $handsWidth / 2;

$bottomHandIndent: $stopwatchSize / 2;
$leftHandIndent: $stopwatchSize / 2 - $handsWidth / 2;

$secondsHandColor: #0af;
$minutesHandColor: #ff0;

$stopwatchCenterColor: #222;
$stopwatchCenterSize: 20px;
