$second: 1s;
$minute: 60 * $second;
$hour: 60 * $minute;

$width-array: 30px;
$size-round: 60px;
$position-arrays: calc(50% - (#{$width-array} / 2));
$position-round: calc(50% - (#{$size-round} / 2));

$height-small-array: 400px;
$height-big-array: 450px;

$main-color:rgb(130, 209, 155);
