%hand_style {
  width: $hand_size;
  border-radius: $hands_radius;
}

%positioning {
  justify-content: center;
  align-items: center;
  display: flex;
}

%hands_position {
  left: $margin_left;
  bottom: $margin_bottom;
  position: absolute;
}
