@mixin arrow {
  position: absolute;
  width: $watch-size / 50;
  height: $watch-size / 2;
  background: $millisecond-arrow-color;
  border-radius: 50%;
  box-shadow: 2px 2px 6px $millisecond-arrow-color;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
}
