//probably you can try to change $size var to make clock bigger or smaller :)
$size: 500px;
$dot-size: ($size / 20);
$big-arrow-heigh: $size * 0.4;
$min-arrow-heigh: $size * 0.3;
$arrow-width: $size / 50;
$arrow-pos: $size / 5;
$arrow-border: $size / 50;

//colors || clock's borders collor = $dot-color
$dot-color: rgb(80, 205, 255);
$color-arrow-seconds: rgb(205, 26, 124);
$color-arrow-minutes: rgb(67, 118, 185);
