$border-size: 8px;
$watch-size: 80vmin;
$watch-border-color: #e9e9e9;
$hand-size: 8px;
$hand-height: 30%;
$hand-minute-color: rgb(43, 43, 126);
$hand-second-color: #4861b3;
$center-color: #696d92;
$background-color: #252736;
$center-border-size: 1px;
