$stopwatch-size: 80vmin;
$minute-hand-width: 10px;
$minute-hand-height: $stopwatch-size / 2;
$minute-hand-color: green;
$hour-hand-width: 20px;
$hour-hand-height: $stopwatch-size / 4;
$hour-hand-color: blue;
$hands-position: 50%;
$center-circle-size: 40px;
$center-circle-color: orange;
