@mixin handPosition($handPosition) {
  left: $handPosition;
  bottom: $handPosition;
}

@mixin circle($size) {
  width: $size;
  height: $size;
}

@mixin centerPos($centerPosition) {
  top: $centerPosition;
  left: $centerPosition;
  right: $centerPosition;
  bottom: $centerPosition;
}
