$size-stopwatch: 80vmin;

$height-hand-short: $size-stopwatch /4;
$height-hand-long: $size-stopwatch / 2;
$width-hand-short: 10px;
$width-hand-long: $width-hand-short / 2;

$time-rotation-hand-short: 60s;
$time-rotation-hand-long: 5s;

$color-stopwatch-bg: #d2e0d7;
$color-stopwatch-center: #0e6229;
$color-hand-short: #0c9e50;
$color-hand-long: #7cef9f;
