$background-color:rgb(255, 255, 255);

$stop-watch-size: 80vmin;
$stop-watch-border-size: 3vmin;
$stop-watch-background-color: $background-color / 6;

$second-hand-height: $stop-watch-size / 2;
$second-hand-border-size: $stop-watch-border-size / 4;
$second-hand-background-color: $background-color / 2;

$hour-hand-height: $second-hand-height / 2;
$hour-hand-border-size: $stop-watch-border-size / 2;
$hour-hand-background-color: $background-color / 4;

$content-border-size: $stop-watch-size / 30;
