@mixin ar_hour {
  height: $clock-radius / 4.5;
  width: $clock-radius / 40;
  top: $clock-radius / 5;
}

@mixin ar_min {
  height: $clock-radius / 3;
  width: $clock-radius / 60;
  top: $clock-radius / 10;
}

@mixin ar_sec {
  height: $clock-radius / 2.7;
  width: $clock-radius / 70;
  top: $clock-radius / 14;
}
