$color-bckg: lightblue;
$clock-radius: 400px;
$clock-point-radius: $clock-radius / 35;

$clock-color: rgb(0, 124, 165);
$clock-color--s: pink;
$clock-color--m: gray;
$clock-color--h: green;

// $clock-len--s:;
// $clock-len--m:;
// $clock-len--h:;

$clock-border: 10px solid $clock-color;

$clock-speed: 10;
