@mixin clock-size ($size) {
  height: $size;
  width: $size;
}

@mixin minute-size ($height, $width) {
  height: $height;
  width: $width;
}

@mixin second-size ($height, $width) {
  height: $height;
  width: $width;
}
