%clock {
  position: absolute;
  animation-name: move;
  animation-duration: 5s;
  transform-origin: top center;
  animation-iteration-count: infinite;
  animation-direction: normal;
  // animation-fill-mode: backwards;
}
