$watch-size: 670px;
$center-size: 20px;
$arrow-height: 300px;
$arrow-height--seconds: $arrow-height / 1.4;
$arrow-border: 10px;
$color-main: #000;

$border-radius: 50%;

@keyframes move {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
