$small-hand-width:20px;
$small-hand-heigth:250px;
$big-hand-width:20px;
$big-hand-heigth:200px;
$center-size:40px;
$watch-size:500px;
$border-color:#00bfff;
$background-color:#000;
$minute-color:#f00;
$second-color:#00ff;
$center-color:#fff;
