$size: 800px;
$sec-arrow-color: #000;
$min-arrow-color: #666;

$arrow-width: $size / 50;
$dot-size: $size / 25;
$sec-arrow-size: $size * 0.33;
$min-arrow-size: $size * 0.22;
$pos-left: $size / 2 - $arrow-width / 2;
