.clock {
  width: $watch-size;
  height: $watch-size;
  box-shadow: 1px 1px 20px #f00;
  border-radius: 50%;
  background-image: url(../images/s26682p_1200.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  &__min {
    @include position;
    rotate: 180deg;
    width: 7px;
    height: 200px;
    border-radius: 8px;
    background-color: $color-blue;
    animation: move 3600s steps(3600) infinite forwards;

  }

  &__sec {
    @include position;
    rotate: 180deg;
    width: 5px;
    height: 180px;
    border-radius: 8px;
    background-color: $color-yellow;
    animation: move 60s steps(60) infinite forwards;
  }

  &__point {
    @include position;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
