.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include circle($d-clock, $color-clock, $color-center);

  &__minute-hand {
    position: absolute;
    top: $top-transform-minute-hand;
    left: $left-transform-minute-hand;
    @include hand($length-minute-hand, $width-minute-hand, $color-minute-hand);
    transform-origin: bottom center;
    animation: move $seconds-per-hour steps(60, end) infinite;
  }

  &__second-hand {
    position: absolute;
    top: $top-transform-second-hand;
    left: $left-transform-second-hand;
    @include hand($length-second-hand, $width-second-hand, $color-second-hand);
    transform-origin: bottom center;
    animation: move $seconds-per-minute steps(60, end) infinite;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include circle($d-center, $color-center, $color-center);
  }
}
