%setting-second {
  position: absolute;
  top: -400%;
  left: 40%;
  transform: translate(0,-10%);
  width: 10px;
  height: 225px;
  background-color: yellow;
  transform-origin: center bottom;
  animation: clock-hand-rotate-second 5s infinite linear;
  z-index: -1;
}

%setting-hour {
  position: absolute;
  top: -150%;
  left: 30%;
  width: 20px;
  height: 100px;
  transform: translate(0%,-80%);
  background-color: purple;
  transform-origin: center bottom;
  animation: clock-hand-rotate-hour 60s infinite linear;
  z-index: -1;
}
