%setting-second {
  position: absolute;
  top: -750%;
  left: 40%;
  transform: translate(0,-10%);
  width: 10px;
  height: 400px;
  background-color: yellow;
  transform-origin: center bottom;
  animation: clock-hand-rotate-second 60s infinite linear;
  z-index: -1;
}

%setting-hour {
  position: absolute;
  top: -250%;
  left: 30%;
  width: 20px;
  height: 150px;
  transform: translate(0%,-80%);
  background-color: purple;
  transform-origin: center bottom;
  animation: clock-hand-rotate-hour 3600s infinite linear;
  z-index: -1;
}
