$watchSize: 500px;
$watchBorderSize: 15px;
$watchCenterSize: 30px;
$arrowsWidth: 15px;
$minutesArrowHeight: 140px;
$secondsArrowHeight: 200px;
$arrowsBorderRadius: 10px;

$watchBgColor: #00ced1;
$watchBorderColor: #666;
$minutesArrowBgColor: #fff68f;
$secondsArrowBgColor: #f08080;
