$clock-radius: 300px;
$hours-color: #d692dc;
$minutes-color: #a5d8de;
$rotate-hours: 0.75 * $clock-radius;
$rotate-minutes: 0.95 * $clock-radius;
$minute-frequency: 6; //сколько секунд в одной минуте
