$clock-size: 500px;
$minute: 60s;
$hour: 3600s;
$second-height: $clock-size/2 * 0.94;
$minute-height: $second-height/1.5;
$border-radius: 50%;
$second-color: rgba(32, 221, 15, 0.36);
$minute-color: rgba(13, 81, 228, 0.86);
$watch-color: rgba(180, 109, 16, 0.38);

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
