$watch-size: 80vmin;
$watch-border: 3px solid #000;
$watch-bg: #ffcc73;
$watch-center-block-bg: #29f500;
$watch-steps-size: 360 / 60;
$watch-time-part-size: 1vmin;
$watch-time-part-bg: black;
$watch-rotate-angle: 0;
$watch-center-size: 4vmin;
$watch-speed: 1;
$watch-hands: hours, minutes, seconds;

$watch-hand-width: (
  "hours": 0.5vmin,
  "minutes": 0.4vmin,
  "seconds": 0.1vmin
);
$watch-hand-height: (
  "hours": 0.7,
  "minutes": 0.85,
  "seconds": 0.95
);
$watch-hand-bg-color: (
  "hours": #01f,
  "minutes": #ff0015,
  "seconds": #0ff
);
$watch-hand-start: (
  "hours": 0,
  "minutes": 0,
  "seconds": 0
);
$watch-hand-val: (
  "hours": 1 * 60 * 12,
  "minutes": 1 * 60,
  "seconds": 1
);
$watch-hand-speed: (
  "hours": 1,
  "minutes": 720,
  "seconds": 1
);
