$watch-size: 80vmin;
$watch-border: 3px solid #000000;
$watch-bg: #ffcc73;
$watch-center-block-bg: #29f500;
$watch-steps-size: 360 / 60;
$watch-time-part-size: 1vmin;
$watch-time-part-bg: black;
$watch-rotate-angle: 0;
$watch-center-size: 4vmin;
$watch-speed: 1;
$watch-arrows: hours, minutes, seconds;

$watch-arrow-width: (
  "hours": 0.4vmin,
  "minutes": 0.3vmin,
  "seconds": 0.2vmin
);
$watch-arrow-height: (
  "hours": 0.6,
  "minutes": 0.8,
  "seconds": 1
);
$watch-arrow-bg-color: (
  "hours": #0011ff,
  "minutes": #ff0015,
  "seconds": #00ffff
);
$watch-arrow-start: (
  "hours": 0,
  "minutes": 0,
  "seconds": 0
);
$watch-arrow-val: (
  "hours": 1 * 60 * 12,
  "minutes": 1 * 60,
  "seconds": 1
);
