@keyframes clockwise {
  0% {
    transform-origin: bottom;
    transform: rotate(-360deg);
  }
}

@keyframes clockwise_second {
  0% {
    transform-origin: top;
    transform: rotate(-360deg);
  }
}
