$watch_size: 44em;
$background-color: #a9a9a9;
$body-color: dimgray;
$color-big-line: black;
$color-second-line: #ffd700;
$color-sun: yellow;
$radius-line: 30px;
$sun-size: 50px;
$mercury-size: 20px;
$mercury-color: #ffa500;
$venus-size: 30px;
$venus-color: #ff6347;
$earth-size: 35px;
$earth-color: #9acd32;
$mars-size: 20px;
$mars-color: #f00;
$jupiter-size: 40px;
$jupiter-color: #f4a460;
$saturn-size: 37px;
$saturn-color: #ffdab9;
$uranus-size: 27px;
$uranus-color: #87ceeb;
$neptune-size: 27px;
$neptune-color: #4682b4;
$pluto-size: 15px;
$pluto-color: #a0522d;
