@keyframes minutes {
  from {
    transform: rotate($rotation-start);
  }
  to {
    transform: rotate($rotation-end);
  }
}

@keyframes seconds {
  from {
    transform: rotate($rotation-start);
  }
  to {
    transform: rotate($rotation-end);
  }
}
