@keyframes spin {
  0% {
    transform: translate(0 , -50%) rotate(-90deg);
  }
  100% {
    transform: translate(0 , -50%) rotate(270deg);
  }
}

@keyframes spin_with_number {
  0% {
    content: "12";
  }
  9% {
    content: "1";
  }
  18% {
    content: "2";
  }
  26% {
    content: "3";
  }
  34% {
    content: "4";
  }
  43% {
    content: "5";
  }
  52% {
    content: "6";
  }
  60% {
    content: "7";
  }
  67% {
    content: "8";
  }
  77% {
    content: "9";
  }
  84% {
    content: "10";
  }
  93% {
    content: "11";
  }
  100% {
    content: "12";
  }

}
@keyframes spin_with_number-minutes {
  0% {
    content: "0";
  }
  9% {
    content: "5";
  }
  18% {
    content: "10";
  }
  26% {
    content: "15";
  }
  34% {
    content: "20";
  }
  43% {
    content: "25";
  }
  52% {
    content: "30";
  }
  60% {
    content: "35";
  }
  67% {
    content: "40";
  }
  77% {
    content: "45";
  }
  84% {
    content: "50";
  }
  93% {
    content: "55";
  }
  100% {
    content: "60";
  }

}
