@keyframes min-handle-animation {
  from {
    transform: rotate(0deg);
  }
  50% {
    background-color: seagreen;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sec-handle-animation {
  from {
    transform: rotate(0deg);
  }
  50% {
    background-color: red;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes center-block {
  from {
    background-color: #d92027;
  }
  50% {
    background-color: #ffcd3c;
  }
  to {
    background-color: #ff9234;
  }
}
