.container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -$watchRadius;
  margin-left: -$watchRadius;
}

.watch {
  position: relative;
  width: $watchRadius * 2;
  height: $watchRadius * 2;
  border-radius: $circle;
  background-image: url(../image/stop_watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  perspective: 0;

  &__minute-hand {
    position: absolute;
    top: $shiftHand + ($watchRadius - $minuteHandLength);
    left: $watchRadius - $minuteHandWidth / 2;
    width: $minuteHandWidth;
    height: $minuteHandLength;
    border: 1px solid black;
    border-radius: $circle;
    background-color: black;
    transform-origin: $minuteHandWidth / 2 $minuteHandLength - $shiftHand;
    animation: move_minute_hand 3600s linear infinite;

  }

  &__sec-hand {
    position: absolute;
    top: $shiftHand + ($watchRadius - $secHandLength);
    left: $watchRadius - $secHandWidth / 2;
    width: $secHandWidth;
    height: $secHandLength;
    border: 1px solid red;
    border-radius: $circle;
    background-color: red;
    transform-origin: $secHandWidth / 2  $secHandLength - $shiftHand;
    animation: move_sec_hand 60s linear infinite;
  }

  &__center-point {
    position: absolute;
    top: $watchRadius - $minuteHandWidth;
    left: $watchRadius - $minuteHandWidth;
    height: $minuteHandWidth * 2;
    width: $minuteHandWidth * 2;
    border: 1px solid;
    border-radius: $circle;
    color: black;
    background-color: black;
  }
}
