.clock__dash {
  display: inline-block;
  position: relative;
  width: 2px;
  height: 12px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;

  &--black {
    width: 3px;
    height: 18px;
    font-size: 15px;
    font-weight: 400;
  }

  &--red {
    width: 3px;
    height: 18px;
    font-size: 18px;
    font-weight: 600;
    color: red;
    background-color: red;
    border: 1px solid red;
  }

  &--1 {
    bottom: 139px;
    left: 137px;
    transform: rotate(6deg);
  }

  &--2 {
    bottom: 137px;
    left: 144px;
    transform: rotate(12deg);
  }

  &--3 {
    bottom: 133px;
    left: 151px;
    transform: rotate(18deg);
  }

  &--4 {
    bottom: 128px;
    left: 158px;
    transform: rotate(24deg);
  }

  &--6 {
    bottom: 114px;
    left: 175px;
    transform: rotate(36deg);
  }

  &--7 {
    bottom: 105px;
    left: 179px;
    transform: rotate(42deg);
  }

  &--8 {
    bottom: 96px;
    left: 182px;
    transform: rotate(48deg);
  }

  &--9 {
    bottom: 85px;
    left: 184px;
    transform: rotate(54deg);
  }

  &--11 {
    top: -61px;
    right: -191px;
    transform: rotate(66deg);
  }

  &--12 {
    top: -49px;
    right: -190px;
    transform: rotate(72deg);
  }

  &--13 {
    top: -36px;
    right: -187px;
    transform: rotate(78deg);
  }

  &--14 {
    top: -22px;
    right: -183px;
    transform: rotate(84deg);
  }

  &--16 {
    bottom: -5px;
    right: -177px;
    transform: rotate(96deg);
  }

  &--17 {
    bottom: -18px;
    right: -169px;
    transform: rotate(102deg);
  }

  &--18 {
    bottom: -32px;
    right: -159px;
    transform: rotate(108deg);
  }

  &--19 {
    bottom: -45px;
    right: -147px;
    transform: rotate(114deg);
  }

  &--21 {
    bottom: -68px;
    right: -127px;
    transform: rotate(126deg);
  }

  &--22 {
    bottom: -79px;
    right: -112px;
    transform: rotate(132deg);
  }

  &--23 {
    bottom: -89px;
    right: -96px;
    transform: rotate(138deg);
  }

  &--24 {
    bottom: -98px;
    right: -79px;
    transform: rotate(144deg);
  }

  &--26 {
    bottom: -113px;
    right: -49px;
    transform: rotate(156deg);
  }

  &--27 {
    bottom: -118px;
    right: -30px;
    transform: rotate(162deg);
  }

  &--28 {
    bottom: -121px;
    right: -10px;
    transform: rotate(168deg);
  }

  &--29 {
    bottom: -123px;
    right: 10px;
    transform: rotate(174deg);
  }

  &--31 {
    bottom: -123px;
    left: -44px;
    transform: rotate(186deg);
  }

  &--32 {
    bottom: -121px;
    left: -64px;
    transform: rotate(192deg);
  }

  &--33 {
    bottom: -118px;
    left: -84px;
    transform: rotate(198deg);
  }

  &--34 {
    bottom: -113px;
    left: -103px;
    transform: rotate(204deg);
  }

  &--36 {
    bottom: -99px;
    left: -134px;
    transform: rotate(216deg);
  }

  &--37 {
    bottom: -91px;
    left: -151px;
    transform: rotate(222deg);
  }

  &--38 {
    bottom: -82px;
    left: -168px;
    transform: rotate(228deg);
  }

  &--39 {
    bottom: -71px;
    left: -183px;
    transform: rotate(234deg);
  }

  &--41 {
    top: 47px;
    right: 203px;
    transform: rotate(246deg);
  }

  &--42 {
    top: 34px;
    right: 215px;
    transform: rotate(252deg);
  }

  &--43 {
    top: 20px;
    right: 225px;
    transform: rotate(258deg);
  }

  &--44 {
    top: 6px;
    right: 234px;
    transform: rotate(264deg);
  }

  &--46 {
    bottom: 21px;
    right: 240px;
    transform: rotate(276deg);
  }

  &--47 {
    bottom: 35px;
    right: 245px;
    transform: rotate(282deg);
  }

  &--48 {
    bottom: 49px;
    right: 248px;
    transform: rotate(288deg);
  }

  &--49 {
    bottom: 62px;
    right: 250px;
    transform: rotate(294deg);
  }

  &--51 {
    bottom: 86px;
    right: 241px;
    transform: rotate(306deg);
  }

  &--52 {
    bottom: 115px;
    left: 41px;
    transform: rotate(312deg);
  }

  &--53 {
    bottom: 125px;
    left: 44px;
    transform: rotate(318deg);
  }

  &--54 {
    bottom: 133px;
    left: 49px;
    transform: rotate(324deg);
  }

  &--56 {
    bottom: 147px;
    left: 66px;
    transform: rotate(336deg);
  }

  &--57 {
    bottom: 152px;
    left: 73px;
    transform: rotate(342deg);
  }

  &--58 {
    bottom: 156px;
    left: 80px;
    transform: rotate(348deg);
  }

  &--59 {
    bottom: 158px;
    left: 87px;
    transform: rotate(354deg);
  }
}
