.zero {
  position: absolute;
  top: 1px;
  left: 139px;

  &::before {
    position: absolute;
    content: "60";
    top: 15px;
    left: -10px;
  }
}

.five {
  position: absolute;
  top: 20px;
  right: 74px;
  transform: rotate(30deg);

  &::before {
    position: absolute;
    content: "5";
    top: 18px;
    right: -4px;
    transform: rotate(-30deg);
  }
}

.ten {
  position: absolute;
  top: 67px;
  right: 27px;
  transform: rotate(60deg);

  &::before {
    position: absolute;
    content: "10";
    top: 20px;
    right: -7px;
    transform: rotate(-60deg);
  }
}

.fifteen {
  position: absolute;
  top: 130px;
  right: 9px;
  transform: rotate(90deg);

  &::before {
    position: absolute;
    content: "15";
    top: 18px;
    right: -10px;
    transform: rotate(-90deg);
  }
}

.twenty {
  position: absolute;
  bottom: 68px;
  right: 27px;
  transform: rotate(120deg);

  &::before {
    position: absolute;
    content: "20";
    bottom: -21px;
    right: -9px;
    transform: rotate(-120deg);
  }
}

.twenty-five {
  position: absolute;
  bottom: 20px;
  right: 73px;
  transform: rotate(150deg);

  &::before {
    position: absolute;
    content: "25";
    bottom: -21px;
    right: -9px;
    transform: rotate(-150deg);
  }
}

.thirty {
  position: absolute;
  bottom: 1px;
  right: 137px;

  &::before {
    position: absolute;
    content: "30";
    bottom: 15px;
    left: -10px;
  }
}

.thirty-five {
  position: absolute;
  bottom: 18px;
  left: 75px;
  transform: rotate(210deg);

  &::before {
    position: absolute;
    content: "35";
    bottom: -21px;
    left: -9px;
    transform: rotate(-210deg);
  }
}

.fourty {
  position: absolute;
  bottom: 65px;
  left: 27px;
  transform: rotate(240deg);

  &::before {
    position: absolute;
    content: "40";
    bottom: -21px;
    left: -9px;
    transform: rotate(-240deg);
  }
}

.fourty-five {
  position: absolute;
  bottom: 130px;
  left: 9px;
  transform: rotate(270deg);

  &::before {
    position: absolute;
    content: "45";
    bottom: -23px;
    left: -9px;
    transform: rotate(-270deg);
  }
}

.fifty {
  position: absolute;
  top: 66px;
  left: 26px;
  transform: rotate(300deg);

  &::before {
    position: absolute;
    content: "50";
    bottom: -21px;
    left: -9px;
    transform: rotate(-300deg);
  }
}

.fifty-five {
  position: absolute;
  top: 19px;
  left: 74px;
  transform: rotate(330deg);

  &::before {
    position: absolute;
    content: "55";
    bottom: -21px;
    left: -9px;
    transform: rotate(-330deg);
  }
}
