%hand-position {
  content: "";
  position: absolute;
  left: 50%;
  width: 6px;
  border-radius: 5px;
  transform-origin: bottom;
}

%circle-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
