%flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

%hand-styles {
  position: absolute;
  bottom: 50%;
  border-radius: 10px;
  z-index: -1;
  transform-origin: bottom;
}
