* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(143, 191, 22, 0.32);
  font-family: "Kdam Thmor Pro", sans-serif;
}
