html {
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.body {
  background-color: rgba(206, 202, 209, 0.91);

  &__watch {
    @include circle($watch-container-size);
    margin: auto;
  }
}
