%position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%clock-hand {
  background-color: $clock-hand-primary;
  border-radius: 10px;
}

%hands {
  position: absolute;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform-origin: left;
}
