.watch__hand-second {
  width: 6px;
  height: 170px;
  background-color: rgb(211, 211, 24);
  border-radius: 3px;

  position: relative;
  left: -9px;
  bottom: 20px;

  animation: second 60s linear infinite;
  transform-origin: 3px 165px;

}

@keyframes second {
  to {
    transform: rotateZ(360deg);
  }
}
