$size: 600px; // <=== change only this

// relative numbers based on 600px clock
// dont need to be changed
// real sizes recalculate itself based on clock size
$s-hand-color: #5f98a8;
$s-hand-height: 300px;
$s-hand-width: 10px;

$m-hand-color: #c25d5d;
$m-hand-height: 200px;
$m-hand-width: 12px;
