$height-and-width-main: 500px;
$border-radius: 50%;
$border-color: black;
$background-big-wacth: pink;
$background-small-wacth: black;
$leftTop-small: 240px;
$absolute-position: absolute;
$height-and-width-small: 20px;
