$border-width: 4px;
$hand-width: 10px;

@mixin center($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin clockFace($size) {
  width: $size;
  height: $size;
}

@mixin hand-position($top, $height) {
  top: $top;
  height: $height;
}

%hand {
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  width: $hand-width;
  transform-origin: center bottom;
}
