$bg-color: rgba(95, 207, 192, 0.77);
$clock-bg-color: #b676b1;
$clock-border:  15px solid #5f25bd57;
$clock-shadows: inset 3px 3px 32px rgba(0, 0, 0, 0.69),
  3px 4px 8px rgb(0, 0, 0);
$hands-width: 10px;
$minute-height: 190px;
$second-height: 150px;
$minute-bg-color: #5f98a8;
$second-bg-color: #c25d5d;
