$clock-width: 500px;
$clock-height: $clock-width;
$arrow-width: 10px;
$second-arrow-height: 240px;
$minute-arrow-height: 150px;
$arrow-border-rad: $arrow-width / 2;
$arrow-position-x: $clock-width / 2 - $arrow-width/2;
