$base-size: 350px; // Adjust size as you want
$base-size-multiplier: $base-size / 250;

$base-color: #f0f0f0;
$primary-color: orange;
$secondary-color: lightblue;
$shadow-color: #ccc;
$shadow-color-inset: #fff;

$border-width: 10 * $base-size-multiplier;
$animation-duration: 30s;
$animation-steps: 30;
$minute-animation-duration: 90s;
$minute-animation-steps: 90;
$watch-padding: 27 * $base-size-multiplier;
$before-height-width: 30 * $base-size-multiplier;
$center-offset: 50%;
$center-offset-pct: 75%;
$center-offset-y: 50%;
$base-animation: translateX(-50%);
$rotate-0: 0deg;
$rotate-360: 360deg;
$border-radius-circle: 50%;
$border-radius-minute: 50 * $base-size-multiplier;
$common-shadow: 3px 3px 5px $shadow-color,
  -3px -3px 5px $shadow-color-inset,
  3px 3px 5px $shadow-color inset,
  -3px -3px 5px $shadow-color-inset;
