$stopwatchSize: 600px;
$centerSize: 30px;
$minuteHandWidth: 15px;
$minuteHandHeight: 150px;
$secondHandWidth: $minuteHandWidth / 1.5;
$secondHandHeight: $minuteHandHeight * 1.5;
$c-grey: #81879c;
$c-blue: #4b9aaa;
$c-red: #d15559;
