.watch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
}

.main__watch {
  position: relative;
  width: $watch-container-size;
  height: $watch-container-size;
}
