
@keyframes watch_minutes {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    transform: translateX(-50%) rotate(90deg);
  }

  50% {
    transform: translateX(-100%) rotate(180deg);
  }

  75% {
    transform: translateX(-100%) rotate(270deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }

}

@keyframes watch_houres {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, $width-line-houres/2) rotate(90deg);
  }

  50% {
    transform: translate(-150%, $width-line-houres/2) rotate(180deg);
  }

  75% {
    transform: translate(-100%, -$width-line-houres/2) rotate(270deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }

}
