@keyframes minutes-move {
  from {
    transition: transform 1s;
    transform: rotate(0deg);
    transform-origin: bottom;
  }

  to {
    transition: transform 1s;
    transform: rotate(10deg);
    transform-origin: bottom;
  }
}

@keyframes second-move {
  from {
    transition: transform 1s;
    transform: rotate(0deg);
    transform-origin: bottom;
  }

  to {
    transition: transform 1s;
    transform: rotate(360deg);
    transform-origin: bottom;
  }
}
