@keyframes moveSeconds {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);

  }
}

@keyframes moveMinutes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
