@keyframes move {
  from {
    transition: transform 1s;
    transform: rotate(0deg);
    transform-origin: bottom;
  }

  to {
    transition: transform 1s;
    transform: rotate(360deg);
    transform-origin: bottom;
  }
}
