@keyframes minutes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes seconds {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(540deg);
  }
}
