.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  width: 400px;
  border: 4px solid #{$clock-frame-color};
  border-radius: 50%;
}
  
.clock__center {
  height: 20px;
  width: 20px;
  border: 2px solid #{$clock-center-color};
  border-radius: 50%;
  background-color: #{$clock-center-color};
  z-index: 1;
}
  
.clock__hand {
  position: absolute;
  width: 5px;
  border-radius: 5px;
  transform-origin: bottom;
  animation: rotate linear infinite;
}

.clock__hand--minute {
  height: 190px;
  top: 8px;
  border: 2px solid #{$minute-hand-color};
  background-color: #{$minute-hand-color};
  animation-duration: 60s;
}

.clock__hand--hour {
  height: 150px;
  top: 48px;
  border: 2px solid #{$hour-hand-color};
  background-color: #{$hour-hand-color};
  animation-duration: 3600s;
}
