.clock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: $clock-size;
  height: $clock-size;

  background-color: $main-backgound;
  box-shadow: 0 0 30px $sec-color;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2%;
    height: 2%;
    z-index: 2;

    background: $main-color;
    border-radius: 50%;
  }

  &__minutes {
    position: absolute;
    top: $clock-size / 2 - $minutes-hand;
    z-index: 1;
    height: $minutes-hand;
    width: $minutes-hand * 0.02;

    background-color: $main-color;
    border-radius: $minutes-hand * 0.02;

    animation-name: rotate;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }

  &__hours {
    position: absolute;
    top: $clock-size / 2 - $hours-hand;
    z-index: 2;
    height: $hours-hand;
    width: $hours-hand * 0.04;

    background-color: $sec-color;
    border-radius: $hours-hand * 0.04;

    animation-name: rotate;
    animation-duration: 3600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transform-origin: bottom;
  }
}
