$digitСlockface: 3%;

.clockface {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

  &__twelve {
    position: absolute;
    top: $digitСlockface;
  }

  &__tree {
    position: absolute;
    right: $digitСlockface;
  }

  &__six {
    position: absolute;
    bottom: $digitСlockface;
  }

  &__nine {
    position: absolute;
    left: $digitСlockface;
  }
}
