.clock__hour {
  @include centered;

  width: 190px;
  
  background-color: #590995;
  border: 3px solid #590995;
  border-radius: 20px;

  animation: rotate 3600s linear infinite;
  transform-origin: left;
}
