.main {
  background-color: rgba(#000, 0.9);
  background-image: url(../images/bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
  }
}
