.arrows {
  background-image: url(./img/gratis-png-reloj-cara-reloj-digital-reloj-s-gratis.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  width: $size-dial;
  height: $size-dial;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
}
