@mixin general($BG, $wid, $hei) {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: $BG;
  width: $wid;
  height: $hei;
}

.zegar__background {
  @include general(lightcyan, 100%, 100%, );
  transform: translate(-50%, -50%);
}

.zegar__center {
  @include general(cadetblue, 3%, 3%);
  transform: translate(-30%,-50%);
  left: calc(50%);
}

.zegar__sec-hand {
  @include general(lightslategray, 1%, 60%);
  animation: time-animate 60s linear infinite;
}

.zegar__min-hand {
  @include general(teal, 1%, 40%);
  animation: time-animate 3600s linear infinite;
}

@keyframes time-animate {
  from {
    transform: rotate(180deg);
    transform-origin: 50% 0;
  }
  to {
    transform: rotate(539deg);
    transform-origin: 50% 0;
  }
}
