.hand {
  position: absolute;
  top: 0;
  left: 49%;

  transform-origin: center bottom;
  transform: translate(-50%, -50%);

  &--minute {
    top: 20%;
    width: 2 * $hand-size;
    height: $hand-height;
    background-color: $hand-minute-color;
    animation: rotateHand 60s infinite linear;
    border-radius: 10px;
  }

  &--second {
    width: $hand-size;
    height: $hand-height + 20%;
    background-color: $hand-second-color;
    animation: rotateHand 5s infinite linear;
    border-radius: 5px;
  }
}

@keyframes rotateHand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

