body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.stopwatch {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  border: 1vmin dotted #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch__center {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  background: #f6a603;
  border-radius: 50%;
}

.stopwatch__hand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center bottom;
}

.stopwatch__hand--minutes {
  height: 20vmin;
  width: 3vmin;
  background: #0700ff;
  transform: translate(-50%, -100%) rotate(0deg);
  animation: rotate-minutes 3600s steps(60) infinite;
}

.stopwatch__hand--seconds {
  height: 38vmin;
  width: 1.5vmin;
  background: #2c8000;
  transform: translate(-50%, -100%) rotate(0deg);
  animation: rotate-seconds 60s linear infinite;
}

@keyframes rotate-seconds {
  from {
    transform: translate(-50%, -100%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}

@keyframes rotate-minutes {
  from {
    transform: translate(-50%, -100%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}

.stopwatch--speed-up {
  .stopwatch__hand--minutes {
    animation-duration: 600s;
  }

  .stopwatch__hand--seconds {
    animation-duration: 10s;
  }
}
