@keyframes move-second {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes move-minute {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(95deg);
  }
}
