@keyframes mainColor {
  0% {
    background-color: white;
  }
  25% {
    background-color: rgba(47, 67, 84, 1);
  }
  50% {
    background-color: goldenrod;
  }
}

@keyframes timer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
