@keyframes minute-hand {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes second-hand {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}
