@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-332px);
  }
}
