@keyframes mainColor {
  0% {background-color: white;}
  25% {background-color: rgba(47, 67, 84, 1);}
  50% {background-color: goldenrod}
}

@keyframes seconds {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@keyframes minutes {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@keyframes hours {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}