.line {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 5px);
  transform: rotate(90deg);
  .half {
    width: 10px;
  }
  .half:nth-child(2) {
    background-color: transparent;
  }
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
