@import "var.scss";

* {
  box-sizing: border-box;
}

.display {
  position: relative;
  height: $displaySize;
  width: $displaySize;
  margin: auto;
  border: 5px dotted #000;
  border-radius: 50%;

  @keyframes move {
    from {
      transform: rotate(0deg);
      transform-origin: bottom;
    }

    to {
      transform: rotate(360deg);
      transform-origin: bottom;
    }
  }

  &__minute {
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: $minuteHeight;
    width: $minuteWidth;
    background-color: #f09;
    animation: move 5s infinite;
  }

  &__hour {
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: $hourHeight;
    width: $hourWidth;
    background-color: #0f7;
    animation: move 60s infinite;
  }

  &__center {
    position: absolute;
    bottom: 48%;
    left: 48%;
    height: $centerSize;
    width: $centerSize;
    border-radius: 50%;
    background-color: #f75;
  }
}
