.page {

  &__middle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $color-secondary;
    background-color: $color-secondary;
    position: absolute;
    top: 47%;
    left: 48%;
  }
}
