.minuteHand {
  position: absolute;
  top: 200px;
  height: 250px;
  width: 15px;
  border-radius: 7px;
  background-color: orangered;
  transform-origin: bottom;
  animation: oborot linear 3600s infinite;
}
