.minuteHand {
  position: absolute;
  top: 200px;
  height: 250px;
  width: 15px;
  border-radius: 5px;
  background-color: orangered;
  transform-origin: bottom center;
  animation-name: oborot;
  animation-duration: 3600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
