.stopWatch__minute-hand {
  position: absolute;
  z-index: 2;
  bottom: 50%;
  height: 50%;
  width: 10px;
  background-color: red;
  border-radius: 10px;
  animation: handRotating 60s 1s infinite linear;
}
