@mixin box-rules {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hands-rules {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  transform-origin: bottom center;
}
