@mixin arrow-set {
  position: absolute;
  bottom: 50%;
  left: 20%;
  width: 30px;
  border-radius: 30px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: move;
}
