@mixin arrow {
  content: "";
  position: absolute;

  width: 10px;
  border-radius: 50% 50% 0 0;

  animation-name: arrowGo;
  animation-iteration-count: infinite;
  animation-timing-function: steps(60);
}
