.half-small {
  border-radius: 5px;
  height: 220px;
  background-color: $min_color;
}

.line-small {
  top: 80px;
  animation-duration: 3600s;
}

.half-big {
  border-radius: 5px;
  height: 300px;
  background-color: $sec_color;
}

.line-big {
  top: 0%;
  animation-duration: 60s;
}
