.watch {
  &__number {
    &_1 {
      position: absolute;
      top: 20px;
      left: 380px;
    }
    &_2 {
      position: absolute;
      top: 110px;
      left: 461px;
    }
    &_3 {
      position: absolute;
      left: 487px;
      font-size: 40px;
    }
    &_4 {
      position: absolute;
      top: 330px;
      left: 456px;
    }
    &_5 {
      position: absolute;
      top: 410px;
      left: 388px;
    }
    &_6 {
      position: absolute;
      top: 430px;
      font-size: 40px;
    }
    &_7 {
      position: absolute;
      top: 420px;
      left: 135px;
    }
    &_8 {
      position: absolute;
      top: 340px;
      left: 60px;
    }
    &_9 {
      position: absolute;
      left: 30px;
      font-size: 40px;
    }
    &_10 {
      position: absolute;
      top: 105px;
      left: 60px;
    }
    &_11 {
      position: absolute;
      top: 30px;
      left: 135px;
    }
    &_12 {
      position: absolute;
      top: -25px;
      font-size: 40px;
    }
  }
}
