.stopwatch__number {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.top-number {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.right-number {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.left-number {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.bottom-number {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
