.watch__number {
  position: absolute;
  &--1 {
    top: 46px;
    left: 380px;
  }
  &--2 {
    top: 129px;
    left: 466px;
  }
  &--3 {
    left: 496px;
    font-size: 40px;
  }
  &--4 {
    top: 373px;
    left: 465px;
  }
  &--5 {
    top: 453px;
    left: 388px;
  }
  &--6 {
    top: 478px;
    font-size: 40px;
  }
  &--7 {
    top: 455px;
    left: 135px;
  }
  &--8 {
    top: 374px;
    left: 60px;
  }
  &--9 {
    left: 24px;
    font-size: 40px;
  }
  &--10 {
    top: 129px;
    left: 55px;
  }
  &--11 {
    top: 45px;
    left: 145px;
  }
  &--12 {
    top: 15px;
    font-size: 40px;
  }
}
