.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &__watch-container {
    position: relative;
    display: flex;
    height: $main-size;
    width: $main-size;
    background-color: #f0f0ec;
    border: 4px solid $border-color;
    box-shadow: 5px 5px 5px #808080;
    border-radius: 50%;
  }
}
