.page {
  display: flex;
  justify-content: center;
  color: #d15559;
  cursor: default;
  transition: all 0.5s;
  
  &:hover {
    transform: scale(2) translateY(50%);
  }

  &__clock {
    margin-top: 50px;
  }
}
