.page::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(118, 118, 230);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
