@import "_variables";

.round {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $sec_color;
  border-radius: 50%;
}
