.stopWatch__second-hand {
  position: absolute;
  z-index: 3;
  height: 30%;
  bottom: 50%;
  width: 10px;
  background-color: green;
  border-radius: 10px;
  animation: handRotating 3600s 1s infinite linear;
}
