.secondHand {
  position: absolute;
  top: 100px;
  height: 350px;
  width: 10px;
  border-radius: 5px;
  background-color: #00acdc;
  transform-origin: bottom center;
  animation-name: oborot;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.secondBall {
  position: absolute;
  top: 435px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00acdc;
}
