@import "./variables.scss";

.stop-watch {
  &_style {
    @include circle(600px);
    background-color: $bg-color-clock;

    margin: 50px auto;
    position: relative;

    border: 5px solid $color-number-border;
  }

  &__center {
    @include circle(30px);

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background-color: $color-big-arrow;
    z-index: 1;
  }

  &__second {
    width: 14px;
    height: 250px;
    border-radius: 10px;
    background-color: $color-big-arrow;

    position: absolute;
    top: 8%;
    left: 48.5%;
    animation: around 60s steps(60) infinite;
    transform-origin: center bottom;
  }

  &__minute {
    width: 20px;
    height: 130px;
    background-color: $color-minute;
    border-radius: 10px;

    position: absolute;
    left: 48%;
    top: 28%;
    animation: around 3600s steps(60) infinite;
    transform-origin: center bottom;
  }

  &__number {
    font-size: 50px;
    color: $color-number-border;
    position: absolute;
    width: 100%;
  }

  &_3 {
    text-align: right;
    line-height: 50px;
    top: calc(50% - 25px);
  }

  &_6 {
    text-align: center;
    bottom: 0;
  }

  &_9 {
    text-align: left;
    line-height: 50px;
    top: calc(50% - 25px);
  }

  &_12 {
    text-align: center;
  }
}

@keyframes around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
