.stop-watch {
  &__center {
    @include alignToCenter;
    z-index: 3;
    width: $center-size;
    height: $center-size;
    background: $minute-hand-color;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 50%;
  }

  &__number {
    position: absolute;
    left: ($main-size - $number-width) / 2;
    top: 20px;
    width: $number-width;
    height: $main-size - 50px;
    font-size: 40px;
    font-weight: 600;
    color: $border-color;
    text-shadow: 2px 2px 4px #808080;
    text-align: center;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        transform: rotate($i * 30deg);
      }
    }
  }

  &__hand {
    transform-origin: left;
    box-shadow: -3px 3px 3px #808080;

    &::after {
      content: "";
      position: absolute;
      border-left: 6px solid #fff;
    }

    &::before {
      content: "";
      position: absolute;
      right: -20px;
    }

    &--second {
      @include alignStartToCenter($second-hand-weight);
      z-index: 2;
      width: $main-size * 0.4;
      height: $second-hand-weight;
      background: $second-hand-color;
      animation: rotateClockwise 60s steps(300, end) infinite backwards;

      &::after {
        @include handDetailing($second-hand-weight);
      }

      &::before {
        border-left: 20px solid $second-hand-color;
        @include handDetailing($second-hand-weight);
      }
    }

    &--minute {
      @include alignStartToCenter($minute-hand-weight);
      z-index: 1;
      width: $main-size * 0.27;
      height: $minute-hand-weight;
      background: $minute-hand-color;
      animation: rotateClockwise 3600s linear 0s infinite normal backwards;

      &::after {
        @include handDetailing($minute-hand-weight);
      }

      &::before {
        border-left: 20px solid $minute-hand-color;
        @include handDetailing($minute-hand-weight);
      }
    }
  }
}
