.stop-watch__second {
  position: relative;
  width: 10px;
  height: 300px;
  margin: 0 auto;

  border-radius: 4px;

  background-color: red;
  
  animation-name: stopwatch;
  animation-duration: 60s;
  @include animation-time-logic;
  transform-origin: bottom;

  &::before {
    position: absolute;
    top: 100%;
    display: block;
    height: 40px;
    width: 40px;

    border-radius: 50%;

    background-color: blue;

    transform: translate(-15px,-50%);

    content: "";
  }
}

.stop-watch__pseudo-second {
  position: relative;
  bottom: 310px;
  width: 10px;
  height: 300px;
  margin: 0 auto;

 
  transform: rotate(0deg);
  animation-name: stopwatch;
  animation-duration: 3600s;
  @include animation-time-logic;
  transform-origin: bottom;

}

.stop-watch__minute {
  position: absolute;
  top: 90px;
  height: 200px;
  width: 10px;
  border-radius: 4px 4px 0 0;
  background-color: blue;

  transform-origin: bottom;
}
