@import 'variables';

.stopwatch__minute-hand {
  position: absolute;
  width: $minute-hand-width;
  height: $minute-hand-length;
  background-color: $minute-hand-color;
  top: calc(50% - #{$minute-hand-length});
  left: 48.5%;
  transform-origin: center bottom;
  animation: rotateMinute 3600s steps(60) infinite;
}

@keyframes rotate-minute {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
