.time-table {
  position: absolute;
}

.time-table--12 {
  left: 47%;
}

.time-table--1 {
  right: 20%;
  top: 5%;
}

.time-table--2 {
  right: 5%;
  top: 24%;
}

.time-table--3 {
  right: 1%;
  top: 45%;
}

.time-table--4 {
  right: 10%;
  top: 66%;
}

.time-table--5 {
  right: 23%;
  bottom: 5%;
}

.time-table--6 {
  left: 49%;
  bottom: 0.1%;
}

.time-table--7 {
  left: 26%;
  bottom: 5%;
}

.time-table--8 {
  left: 10%;
  top: 66%;
}

.time-table--9 {
  left: 1%;
  top: 45%;
}

.time-table--10 {
  left: 6%;
  top: 24%;
}

.time-table--11 {
  left: 20%;
  top: 5%;
}
