@import "mixin";
@import "variables";

.time {
  position: relative;
  height: 100vh;
  background: linear-gradient(purple, pink, orange);

  &__minutes {
    @include positionAbsoluteCenter;

    width: 250px;
    height: $mainHeight;
    border-radius: $mainHeight;

    background-color: royalblue;

    transform-origin: $transOrigin-LC;
    transform: $rotate-90;
    animation: round 60s linear infinite;
  }

  &__seconds {
    @include positionAbsoluteCenter;
    width: 350px;
    height: $mainHeight;
    border-radius: $mainHeight;

    background-color: yellow;

    transform-origin: $transOrigin-LC;
    transform: $rotate-90;
    animation: round 1s linear infinite;
  }

  &__circle {
    @include positionAbsoluteCenter;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: purple;

    transform: $transfTranslate;
  }
}

@keyframes round {
  form {
    transform: $rotate-90;
  }

  to {
    transform: rotate(270deg);
  }
}
