$clock-size: 80vmin;
$border-dot-size: $clock-size / 60;
$dot-size: $border-dot-size * 4;
$small-hand-length: $clock-size / 2;
$small-hand-width: $border-dot-size;
$big-hand-length: $small-hand-length / 2;
$big-hand-width: $small-hand-width * 2;
