$stopwatch-size: 80vmin;
$stopwatch-border-color: #000;
$minutes-hand-length: 3vmin;
$minutes-hand-width: 20vmin;
$minutes-hand-bg: #0700ff;
$seconds-hand-length: 1.5vmin;
$seconds-hand-width: 38vmin;
$seconds-hand-bg: #2c8000;
$stopwatch-center-dot-diametr: 5vmin;
$stopwatch-center-dot-bg: #f6a603;
