$clock-size: 200px;
$center-size: $clock-size / 10;
$center-position: ($clock-size / 2) - ($center-size / 2);
$minute-length: $clock-size / 2;
$minute-thin: $clock-size / 40;
$hour-length: $clock-size / 4;
$hour-thin: $clock-size / 20;
$hands-position: $clock-size / 2;
