@mixin content-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$radius-clock: 80vmin;
$radius-center: 5vmin;
$color-center: #f6a603;
$color-minutes-hend: #0700ff;
$color-seconds-hend: #2c8000;
