$stop-watch-size: 80vmin;
$watch-radius: 50%;
$center-size: 7%;
$main-color:rgb(60, 81, 199);
$minute-arrow-color: rgba(42, 119, 177, 0.9);
$second-arrow-color: rgba(106, 160, 254, 0.574);
$watch-backround-color: rgb(156, 246, 234);
$border-color: rgba(22, 15, 15, 0.534);
