$width-round: 80vh;
$height-round: 80vh;
$width-center: $width-round * 0.04;
$height-center: $height-round * 0.04;
$height-line-seconds: $height-round / 2;
$width-line-seconds: 6px;
$height-line-minutes: $height-round / 2;
$width-line-minutes: 12px;
$height-line-houres: $height-round / 4;
$width-line-houres: 24px;
$seconds: 5s;
$minutes: $seconds * 60;
$hours: $minutes * 12;
