$stopwatch-width: 300px;
$stopwatch-center: $stopwatch-width * 0.1;
$stopwatch__seconds-width: $stopwatch-width - 50px;
$seconds-clockhand: 0.5 * $stopwatch__seconds-width;
$seconds-clockhand-width: 0.05 * $stopwatch__seconds-width;
$stopwatch__minutes-width: $stopwatch-width - 100px;
$minutes-clockhand: 0.5 * $stopwatch__minutes-width;
$stopwatch__hours-width: $stopwatch-width - 150px;
$hours-clockhand: 0.5 * $stopwatch__hours-width;