// speed for a stopwatch second hand
$second-hand-animation-duration: 5s;
$second-hand-color: green;

// speed for a stopwatch minute hand
$minute-hand-animation-duration: 60s;
$minute-hand-color: blue;
