$watch-size: 500px;
$light-pink: #ffc2d4;
$pink: #ff5c8a;
$rotate-point: 30deg;
$point-size: $watch-size * 0.04;
$arrow-minute-height: $watch-size * 0.02;
$arrow-minute-width: $watch-size * 0.34;
$arrow-second-height: $watch-size * 0.01;
$arrow-second-width: $watch-size * 0.45;
