$border-color: #000;
$minutes-color: #0700ff;
$seconds-color: #2c8000;
$center-color: #f6a603;
$width: 80vmin;
$minutes-height: 20vmin;
$seconds-height: 38vmin;
$center-size: 5vmin;
$border-width: 1vmin;
$minutes-width: 3vmin;
$seconds-width: 1.5vmin;
