$height-minutes: 200px;
$height-seconds: 250px;
$heigth-clock: $height-seconds * 2;
$hand-widht: 10px;
$center-diametr: 30px;
$center-position: calc(50% - #{$center-diametr} / 2 + #{$hand-widht} / 2);
