$watch-size: 80vmin;
$watch-center-min: 3vmin;
$watch-center-sec: 1.5vmin;
$watch-center: 5vmin;
$watch-center-position: ($watch-size - $watch-center) / 2;
$watch-center-position-min: ($watch-size - $watch-center-min) / 2;
$watch-center-position-sec: ($watch-size - $watch-center-sec) / 2;
