$stopwatch-size: 80vmin;
$stopwatch-height: $stopwatch-size;
$stopwatch-width: $stopwatch-size;
$stopwatch-border-size: 1vmin;
$stopwatch-border-color: #000;
$minute-hand-length: 20vmin;
$minute-hand-width: 3vmin;
$minute-hand-color: #0700ff;
$second-hand-length: 38vmin;
$second-hand-width: 1.5vmin;
$second-hand-color: #2c8000;
$stopwatch-center-size: 5vmin;
$stopwatch-center-height: $stopwatch-center-size;
$stopwatch-center-width: $stopwatch-center-size;
$stopwatch-center-color: #f6a603;
