$watch-size: 80vmin;
$minute-hand-length: 20vmin;
$minute-hand-width: 3vmin;
$seconds-hand-length: 38vmin;
$seconds-hand-width: 1.5vmin;
$dot-diam: 5vmin;
$green-color: #2c8000;
$blue-color: #0700ff;
$orange-color: #f6a603;
