$stopwatch-size: 80vmin;
$stopwatch-min-height: 20vmin;
$stopwatch-second-height: 38vmin;
$stopwatch-min-width: 3vmin;
$stopwatch-second-width: 1.5vmin;
$stopwatch-circle-size: 5vmin;
$stopwatch-colors-main: #000;
$stopwatch-colors-min: #0700ff;
$stopwatch-colors-second: #2c8000;
$stopwatch-colors-circle: #f6a603;
$speed-up: (
  'min': 600s,
  'second': 10s,
);
