$size-watch: 500px;
$radius: $size-watch/2;
$border-watch: $size-watch/100;

$width-hand: $size-watch/50;
$hight-second-hand: $radius;
$origin-second-hand: $radius;

$hight-minute-hand: $size-watch/4;
$origin-minute-hand: $size-watch/4;

$width-circle: $size-watch/25;
