.watches {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}

.watches__seconds {
  transform-origin: $t-origin;
  height: 300px;
  width: 4px;

  background-color: rgb(60, 161, 168);

  animation: 60s $a-rotating;
}

.watches__minutes {
  position: absolute;
  transform-origin: $t-origin;
  height: 270px;
  width: 7px;

  background-color: rgb(204, 102, 84);

  animation: 3600s $a-rotating;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;

    height: 20px;
    width: 20px;
    color: rgb(204, 102, 84);
    border-radius: 50%;
  }
}
