@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin arrow-form($height, $width, $border-radius, $transform-origin) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
  transform-origin: $transform-origin;
}
