@mixin position-element {
  position: absolute;
  height: 39%;
  top: 13%;
  right: 50%;
}

@mixin style-arrows {
  width: 10px;
  background-color: black;
  transform-origin: bottom center;
  border-radius: 10px;
}
