$clock-size: 500px;

$minute-height: $clock-size / 4;
$seconds-height: $clock-size / 3 + 20px;

$minute-width: 10px;
$seconds-width: 8px;

$minute-hand-dur: 3600s;
$seconds-hand-dur: 60s;

$color-clock-border: #85c8de;
$color-clock: white;

$color-minute: #c9e2ee;
$color-seconds: #dae5ea;

$color-arrow-shadow: #dae5ea;

$color-decor: #b1daeae1;
$color-decor-border: #82c5db2f;
