$clock-size: 500px;

$minute-height: $clock-size / 4;
$seconds-height: $clock-size / 3 + 20px;

$minute-width: 10px;
$seconds-width: 8px;

$minute-hand-dur: 3600s;
$seconds-hand-dur: 60s;

$c-clock-border: #85c8de;
$c-clock: white;
$c-clock-shadow: #85c8de;

$c-minute: #c9e2ee;
$c-minute-shadow: #dae5ea;

$c-seconds: #dae5ea;
$c-seconds-shadow: #dae5ea;

$c-decor: #b1daeae1;
$c-decor-border: #82c5db2f;
