@mixin clock-hand($arrow-height, $arrow-width, $color-hand, $hand-dur) {
  position: absolute;
  border-radius: 5px;
  bottom: 50%;
  left: 50%;
  height: $arrow-height ;
  width: $arrow-width;
  background-color: $color-hand;
  animation-name: hand;
  animation-duration: $hand-dur;
  transform-origin: bottom;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 0 15px $c-minute-shadow;
}
