@mixin secondHand {
  width: 5px;
  height: 120px;
  background-color: $second-colors;
}

@mixin minuteHand {
  width: 10px;
  height: 90px;
  background-color: $minute-colors;
}

@mixin hourHand {
  width: 10px;
  height: 60px;
  background-color: $hour-colors;
}

@mixin centerBob {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $center-color;
  z-index: 1;
}
