$second-colors: rgb(226, 148, 58);
$minute-colors: rgb(235, 173, 59);
$hour-colors: rgb(241, 152, 19);
$watch-color: rgb(196, 109, 102);
$center-color: rgb(21, 216, 53);

$second: 60s;
$minute: 3600s;
$hour: 43200s;
