%position {
  position: absolute;
  bottom: 50%;
  border-radius: 50%;
}

@mixin clock-face ($clock-size) {
  width: $clock-size;
  height: $clock-size;
  border-radius: 75%;
}

@mixin center ($center-size) {
  width: $center-size;
  height: $center-size;
  border-radius: 50%;
}
