%clock-hands-position {
  position: absolute;
  bottom: 50%;
  border-radius: 20%;
}

%move {
  animation: move linear infinite;
  transform-origin: bottom center;
}

@mixin clock-face ($minute-size) {
  width: getClockSize($minute-size);
  height: getClockSize($minute-size);
  border-radius: 50%;
}

@mixin center ($center-size) {
  width: $center-size;
  height: $center-size;
  border-radius: 50%;
}
