.watch {
  display: flex;
  justify-content: center;
  @include square(50px);
  background-color: $main-color;
  border-radius: 50%;

  &__arrow {
    position: absolute;
    bottom: 50%;
    z-index: -1;
  }

  &__arrow--second--speed {
    height: 250px;
    width: 45%;
    background-color: $main-color;
    border-radius: 15px;
    animation: move 60s steps(60, start) 3s infinite;
    transform-origin: bottom;
  }

  &__arrow--minute--speed {
    height: 150px;
    width: 55%;
    background-color: #000;
    border-radius: 15px;
    animation: move 3600s steps(60, start) 63s infinite;
    transform-origin: bottom;
  }
}

@keyframes move {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
