$mainColor: rgb(0,128,128);
$minuteColor: #d15659;
$secondColor: #4c9aaa;
$bordercolor: rgb(127, 255, 212);
$shadowColor: rgba(0, 0, 255, 0.2);
$mainWidth: 500px;
$mainHieght: 500px;
$centerWidth: 30px;
$centerHieght: 30px;
$radious: 60px;
$marginAuto:auto;
$ainmationMinute:3600s;
$animationSecond: 60s;
