.arrow {
  position: absolute;
  bottom: 266px;
  border: 2px solid $c-black;
  border-radius: 15%;
  transform-origin: bottom;
  animation-play-state: paused;

  &--min {
    height: 160px;
    width: 8px;
    left: calc(50% - 4px);
    background: blue;
  }

  &--hour {
    height: 230px;
    width: 10px;
    left: calc(50% - 5px);
    background: yellow;
  }
}
