.box {
  @extend %flex-style;
  flex-grow: 1;

  &__form {
    display: flex;
    width: 540px;
    height: 540px;

    background-color: $c-grey;
    border: 4px dashed $c-black;
    border-radius: 50%;
  }
}
