.form {
  @extend %flex-style;
  position: relative;
  cursor: pointer;

  &__decor {
    display: flex;
    position: absolute;
    justify-content: space-between;

    left: 20px;
    right: 20px;

    &-string {
      height: 5px;
      width: 60px;
      background-color: $c-black;
    }
  }

  &__center {
    @extend %flex-style;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    border: 2px solid $c-black;

    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }
}
