.page {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif ;
  margin: 0;

  &__title {
    @extend %flex-style;
    height: 50px;
    background-color: $c-black;
    color: white;
    margin-bottom: 30px;
  }
}
