@mixin circle($x) {
  height: $x;
  width: $x;
  border-radius: 50%;
  position: absolute;
  top: 61.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin arrow {
  top: 61.5%;
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -100%);
  position: absolute;
  width: 0.01 * $clock-side;
}

@mixin light-button-pos {
  position: absolute;
  top: 15%;
  right: 15%;
}

@mixin start-button-pos {
  position: absolute;
  top: 15%;
  left: 15%;
}

@mixin button-dimensions {
  width: 0.12 * $clock-side;
  height: 0.12 * $clock-side;
}
