@mixin border {
  border: 5px solid black;
}

@mixin top-bottom {
  height: $wall-perspective;
  width: $wall-width;
  margin-left: $wall-perspective;
}

@mixin left-right {
  height: $wall-heigth;
  width: $wall-perspective;
}

@mixin circle($x) {
  width: $x / 2;
  height: $x / 2;
  border-radius: 50%;
}

