$wall-width: 800px;
$wall-heigth: 450px;
$wall-perspective: 250px;
$room-width: 2 * $wall-perspective + $wall-width;
$room-heigth: 2 * $wall-perspective + $wall-heigth;

$hours: (
  12 0 50% -50% 0,
  3 50% 100% -100% -50%,
  6 100% 50% -50% -100%,
  9 50% 0 50% -50%,
)
