$watch-size: 500px;

$minutes-hand-h: 150px;
$minutes-hand-w: 20px;

$seconds-hand-h: 200px;
$seconds-hand-w: 10px;

$border-watch-color: #000;
$watch-center-color: #db1446;
$hands-watch-color: #054385;
$watch-background-color: aquamarine;
