.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  

  &__second {
    position: absolute;
    top: $mainTop;
    width: 8px;
    height: $mainHeight;
    background-color: rgb(226, 105, 105);
    border-radius: $mainRadius;
    transform-origin: bottom;
    animation-name: rotation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
  }

  &__minute {
    position: absolute;
    top: $mainTop;
    width: 10px;
    height: $mainHeight;
    background-color: rgb(99, 193, 230);
    border-radius: $mainRadius;
    transform-origin: bottom;
    animation-name: rotation;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
  }

  &__center {
    position: absolute;
    top: 150px;
    width: 20px;
    height: 20px;

    background-color: rgb(99, 193, 230);
    border-radius: 50%;
    transform: translate(-25%, -50%);
  }
}
