@use "./_variables" as *;

%hand-rules {
  width: #{$hand-height};
  border-radius: #{$hand-border-radius};
}

%positioning {
  position: absolute;
  transform-origin: bottom;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
