%centralization {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8px;
  border-radius: 5px;
  transform-origin: 0;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
