$watch-width: 400px;
$watch-height: 400px;
$watch-color: rgb(221, 153, 221);
$watch-border: 3px solid rgb(223, 37, 142);
$min-width: 10px;
$min-height: 170px;
$border-min-sec: 2px solid rgb(223, 37, 142);
$min-color: rgb(226, 214, 225);
$sec-width: 5px;
$sec-height: 140px;
$sec-color: rgb(214, 189, 211);

