$clock-size: 400px;
$minutes-hand-width: $clock-size / 25;
$minutes-hand-height: $clock-size / 2 * 0.7;
$seconds-hand-width: $clock-size / 40;
$seconds-hand-height: $clock-size / 2 * 0.9;
$knot-size: $clock-size / 30;
$rounding: 30%;
$first-color: red;
$second-color: black;
