$circle-size: 500px;
$point-size: 20px;
$seconds-width: 10px;
$minutes-height: 150px;
$seconds-height: $circle-size / 2;
$left-top-position-point: $circle-size / 2 - $point-size / 2;
$left-position-seconds-minutes: $circle-size / 2 - $seconds-width / 2;
$top-position-minutes: $circle-size / 2 - $minutes-height;
$seconds-in-hour: 60 * 60;
