@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}

@keyframes circleLittle {
  from {
    background-image: radial-gradient(circle,
    #c4e100, #c9d600, #cc0, #cec100, #cfb700,
    #ca9e0d, #c1851a, #b46f22, #904b2a, #642f29, #351b1d, #000);
  }
  to {
    background-image: radial-gradient(circle,
    #000, #351b1d, #642f29, #904b2a, #b46f22,
    #c1851a, #ca9e0d, #cfb700, #cec100, #cc0, #c9d600, #c4e100);
  }
}
