@keyframes hour-hand {
  from {
    transform: translate(-50%, -100%) rotate(30deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(390deg);
  }
}

@keyframes minute-hand {
  from {
    transform: translate(-50%, -100%) rotate(180deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(540deg);
  }
}

@keyframes second-hand {
  from {
    transform: translate(-50%, -100%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(405deg);
  }
}
