@keyframes rotate-second-hands {
  0% {
    transform-origin: #{$stopwatch-size / 200} 0;
    transform: rotate(0deg);
  }

  100% {
    transform-origin: #{$stopwatch-size / 200} 0;
    transform: rotate(360deg);
  }
}

@keyframes rotate-minute-hands {
  0% {
    transform-origin: #{$stopwatch-size / 100} 0;
    transform: rotate(0deg);
  }

  100% {
    transform-origin: #{$stopwatch-size / 100} 0;
    transform: rotate(360deg);
  }
}
