@keyframes move {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }

}

@keyframes light {
  0% {
    background-color: #cbd7ff;
  }
  
  1% {
    background-color: red;
  }

  2% {
    background-color: #cbd7ff;
  }

}
