@keyframes rotate-minute {
  0% {
    transform: translateX(-50%) translateY(-100%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-100%) rotate(360deg);
  }
}

@keyframes rotate-hour {
  0% {
    transform: translateX(-50%) translateY(-100%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-100%) rotate(360deg);
  }
}
