%start-position {
  position: absolute;
  bottom: 50%;
  left: 49%;
}

%animation-arrows {
  animation-name: tik;
  animation-iteration-count: infinite;
  animation-timing-function: steps(60, end);
}
