%arrows-animation {
  animation-name: sec;
  animation-iteration-count: infinite;
  animation-timing-function: steps(60, end);
}

%arrows-position {
  position: absolute;
  border-radius: 10px;
  bottom: 50%;
  left: $arrows-position;
  transform-origin: bottom center;
}
