%arrow-settings {
  position: absolute;
  bottom: $length-block / 2;
  border-radius: 6px;
}

%animation-settings {
  animation-name: time;
  animation-timing-function: steps(60, end);
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition: linear;
}
