%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
}

%animation-prop {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
