%hands-location {
  transform: rotate(90deg);
  transform-origin: bottom right;
}

%hands-animation {
  animation-name: timer;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

%position-content {
  content: " ";
  position: absolute;
  top: $top-position;
  height: $hands-higth;
}
