%arrow-animation {
  animation-name: rotate;
  transform-origin: bottom;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

%flex-center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
