%animation-hand {
  border-radius: 6px;
  transform: rotate(-90deg);
  transform-origin: left;
  animation: linear infinite rotate;
}

%bg-clock-face {
  background-image: url(../images/digital.png);
  background-repeat: no-repeat;
  background-size: 107%;
  background-position: -12px -7px;
}

%hand-position {
  position: absolute;
  left: 250px;
}
