// Hand rotation logic
@keyframes hand-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Waves
@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 55%,
      7% 54%, 
      12% 53%, 
      18% 53%, 
      24% 53%, 
      30% 54%, 
      37% 55%, 
      42% 56%, 
      49% 56%, 
      55% 56%, 
      60% 55%, 
      66% 54%, 
      71% 52%, 
      78% 51%, 
      83% 50%, 
      89% 50%, 
      95% 50%, 
      100% 51%, 
      100% 100%, 
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 55%, 
      6% 57%, 
      13% 58%, 
      19% 57%, 
      24% 55%, 
      30% 53%, 
      37% 52%, 
      44% 52%, 
      50% 53%, 
      55% 54%, 
      60% 55%, 
      66% 56%, 
      72% 56%, 
      78% 55%, 
      84% 54%, 
      89% 52%, 
      94% 51%, 
      100% 51%, 
      100% 100%, 
      0% 100%
    );
  }
}
