@keyframes move-seconds {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}
  
@keyframes move-minutes {
  from {
    transform: rotate(-90deg);
  }
  
  to {
    transform: rotate(450deg);
  }
}
