@keyframes second {
  0% {
    transform: translateX(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) rotateZ(360deg);
  }
}
@keyframes minute {
  0% {
    transform: translateX(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) rotateZ(360deg);
  }
}
@keyframes hour {
  0% {
    transform: translateX(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) rotateZ(360deg);
  }
}
