@media (min-width: 600px) {
  .container {
    background-image: url(../images/bgsmall.jpg);
  }
}

@media (min-width: 800px) {
  .container {
    background-image: url(../images/bgbig.jpg);
  }
}

@media (min-width: 1000px) {
  .container {
    background-image: url(../images/bgultra.jpg);
  }
}
