@mixin animation-watch($duration) {
  animation-name: sec;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  transform-origin: bottom;
}
