@mixin watch-hand-size ($hand-height-size, $hand-width-size) {
  height: $hand-height-size;
  width: $hand-width-size;
}

@mixin watch-hand-duration ($duration) {
  animation-duration: $duration;
  @extend %animation-hand;
}
