@mixin watch {
  height: $watchHeight;
  width: $watchHeight;
}

@mixin min {
  height: $minHeight;
  width: $minWidth;
}

@mixin sec {
  height: $secHeight;
  width: $secWidth;
}

@mixin dot {
  height: $dotHeight;
  width: $dotHeight;
}
