@mixin watch {
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom;

  @keyframes move {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
