@mixin square ($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin arrow {
  position: absolute;
  top: $arrow-top;
  height: $arrow-height;
  transform: translate(-50% -50%);
  transform-origin: bottom center;
}
