%hands {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  border-radius: 40%;
  transform-origin: left;
}

%center-position {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
