%properties-little {
  border-radius: 10px;
  animation: rotate 60s linear infinite;
  background-color: blueviolet;
  z-index: 2;
}

%properties-big {
  border-radius: 10px;
  animation: rotate 360s linear infinite;
  background-color: rgb(95, 17, 17);
  z-index: 1;
}

%properties-center {
  border-radius: 50%;
  animation: rotate 360s linear infinite;
  background-color: blueviolet;
  z-index: 3;
}
