%hand-position {
  margin: auto;
  position: absolute;
  bottom: 50%;
}

%hands-style {
  background-color: $secondary-color;
  border: 2px solid $main-color;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
