%arrow-position {
  position: absolute;
  bottom: 50%;
  left: 49%;
}

%move-arrow {
  animation-name: watch;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center bottom;
}
