body {
  font-family: "Rampart One", cursive;
  color: #1c4cad;
  line-height: 4em;
  margin: 0;
  background-color: #a6a6a6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
