//  color
$hour-color: rgb(140, 190, 34);
$minute-color: rgb(255, 145, 0);
$secons-color: rgb(0, 0, 255);
$pointer-color: rgb(90, 42, 0);

//  circle
$size-circle: 50px;
$border-circle: 10px;

// clock
$clock-size: 450px;
$clock-background: peachpuff;
