$secHeight: 280px;
$minHeight: $secHeight * 0.8;
$dotHeight: $secHeight * 0.1;
$watchHeight: $secHeight * 2;
$secWidth: $secHeight * 0.03;
$minWidth: $secHeight * 0.06;
$border: $secHeight * 0.01;
$secCenter: $secHeight - $secWidth / 2 + $border * 1.5;
$minCenter: $secHeight - $minWidth / 2 + $border * 1.5;
$dotCenter: $secHeight - $dotHeight / 2 + $border * 1.5;
