$bg-gradient: linear-gradient(226.13deg, #fff 3.84%, #18181a 93.82%), #171719;
$border-width-percent: 100%;
$border-height-percent: 100%;
$border-radius-percent: 100%;
$watch-width-height: 600px;
$hand-position: center calc(100% - calc(14px / 2));
$rotate-full-circle: rotate(360deg);
$hour-hand: 43200s;
$minute-hand: 3600s;
$seconds-hand: 60s;
$color-hand: #cfbb88;
