$clock-height: 500px;
$clock-width: 500px;
$clock-border-color: orange;

$clock-longArrow-width: 220px;
$clock-shortArrow-width: 180px;
$clock-Arrows-height: 6px;

$bg-firstcolor: rgb(211, 204, 227);
$bg-secondcolor: rgb(233, 228, 240);
$clock-bg-firstcolor: rgb(252, 0, 255);
$clock-bg-secondcolor: rgb(0, 219, 222);


