$watch-size: 500px;
$rotate-point: 30deg;
$point-size: $watch-size * 0.04;
$clock-border-size: $watch-size * 0.03;
$arrow-minute-height: $watch-size * 0.02;
$arrow-minute-width: $watch-size * 0.34;
$arrow-second-height: $watch-size * 0.01;
$arrow-second-width: $watch-size * 0.45;
$internal-size-axle: $watch-size * 0.05;
$external-size-axle: $watch-size *0.08;
$light-pink: #ffc2d4;
$pink: #ff5c8a;
$indigo: #36046670;
$dark-purple: #271b27;
$purple: #530750;
