$mark-step:30deg;
$main-screen-size:500px;
$inner-screen-size: 0.8 * $main-screen-size;
$dot-size: 0.06 * $main-screen-size;
$screen-shift: ($main-screen-size - $inner-screen-size) / 2;
$dot-shift: ($main-screen-size - $dot-size) / 2;
$hand-shift: ($main-screen-size /2);
