$watch-size: 700px;
$center-size: 50px;
$hands-width: 15px;
$half-hend-width: $hands-width / 2;
$seconds-hand-langht: $watch-size / 2 - 50px;
$seconds-hand-top: -$seconds-hand-langht + $center-size / 2;
$hand-left: $center-size / 2 - $half-hend-width;
$minutes-hand-lenght: $seconds-hand-langht - 50px;
$minutes-hand-top: -$minutes-hand-lenght + $center-size / 2;

