$s-clock-size: 500px;
$s-border-radius: $s-clock-size / 2;
$s-min-sec-width: 2px;
$s-hour-center-size: 5px;
$s-hour-height: 100px;
$s-minute-height: 150px;
$s-second-height: 200px;

$c-clock-main: #0f0;
$c-background: rgb(36, 35, 35);
