$watch-size: 500px;
$circle-height: 25px;
$circle-width: 25px;
$watch-bottom: $watch-size*0.5;
$border-radius-circle: 50%;
$border-radius-hand: 40%;
$hand-width: 9px;
$main-color: black;
$second-color: orange;
