$size-clock-circle: 600px;
$size-small-circle: 30px;
$second-width: 7px;
$minute-width: 10px;
$bottom-position: 50%;
$height-second: ($size-clock-circle / 2) - 20px;
$height-minute: ($size-clock-circle / 2) - 100px;
$time-second: 60s;
$time-minute: 3600s;
$bc-color-clock:lightgrey;
$color-minute: red;
$color-second: blue;
$border-radius-arrow: 5px;