$clock-height: 500px;
$clock-width: 500px;
$clock-border-color: #3e64ff;

$circle-color: #000;

$clockSecond-width: 350%;
$clockSecond-height: 5px;

$clockMinute-width: 320%;
$clockMinute-height: 10px;

$clockHour-width: 250%;
$clockHour-height: 15px;


