$wrap-size: 620;

$watch-size: #{$wrap-size}px;
$decoration-size_s: 30%;
$decoration-size_m: 50%;
$decoration-size_l: 90%;
$gear-size_dot: 3%;

$main-color: #222d4a;

$d-height: 36;
$d-width: 40;
$logo-width: 80;
$d-hour: 46;

$min-height: 26%;
$sec-height: 56%;
