$widthScreen: 400px;
$heightScreen: 400px;
$watchMinWidth: $widthScreen/100*2;
$watchSecWidth:  $widthScreen/100*2;
$watchMinHeight: $heightScreen/100*45;
$watchSecHeight: $heightScreen/100*35;
$watchCenterWidth: $widthScreen/100*7;
$watchCenterHeight:  $heightScreen/100*7;
