$watch_size: 80vmin;
$black_dot: #000;
$green_hand: green;
$green_hand_rotate: rotate 5s linear infinite;
$green_hand_size: calc(#{$watch-size}/2);
$blue_hand: blue;
$blue_hand_rotate: rotate 60s linear infinite;
$blue_hand_size: calc(#{$watch-size}/4);
$orange_dot: orange;
$orange_dot_size: 30px;
