$box-height: 450px;
$box-width: 450px;
$box-number: 60px;

$color-green:rgb(107,226,88);
$color-blue:rgb(34,193,195);
$color-grey:darkgray;

$height-arrow:
  "minuta" 150px 3600s #{$color-blue},
  "secunda" 200px 60s #{$color-green};

$hours:
  "twelve" "top" 0 "left" 50% -50% 0,
  "nine" "top" 50% "left" 10px 0 -50%,
  "tree" "top" 50% "right" 10px 0 -50%,
  "six" "bottom" 0 "left" 50% -50% 0;
