$hours-hand-color: black;
$minute-hand-color: blue;
$second-hand-color: red;

$stopwatch-size: 400px;
$second-hand-width: 5px;
$second-hand-height: 180px;
$minute-hand-width: 5px;
$minute-hand-height: 150px;
