$watchRadius: 250px;
$shiftHand: 30px;
$circle: 50%;
$secHandLength: $watchRadius - $watchRadius * 0.02;
$minuteHandLength: $secHandLength * 0.7;
$secHandWidth: 4px;
$minuteHandWidth: $secHandWidth * 2.5;
