$c-grey: rgb(204, 204, 204);
$c-darkgrey: rgb(55, 55, 55);
$dile-size: 300px;
$center-circle-size: $dile-size*0.06;
$second-hand-height: $dile-size /2*0.8;
$second-hand-width: 3px;

$minute-hand-height: $dile-size/2*0.8;
$minute-hand-width: 5px;

$hour-hand-height: $dile-size/2*0.4;
$hour-hand-width: 8px;

$second-speed: 60s;
$minute-speed: 3600s;
$hour-speed: 60*60*60s;
