$box-height: 450px;
$box-width: 450px;
$box-number: 60px;

$color-green:rgb(107,226,88);
$color-blue:rgb(34,193,195);
$color-grey:darkgray;

$height-arrow:
  "minuta" 150px 3600s #{$color-blue},
  "secunda" 200px 60s #{$color-green};
