@keyframes moveSecond {
  0% {
    transform: rotateZ($rotate-to-top);
  }

  100% {
    transform: rotateZ($rotate-to-top);
  }
}

@keyframes moveMinute {
  0% {
    transform: rotateZ($rotate-to-top);
  }

  100% {
    transform: rotateZ($rotate-to-top);
  }
}
