@keyframes rotate-minute {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-second {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
