.clock {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  border: 2px solid #2F4F4F;
  border-radius: 50%;
  background-color:#DCDCDC;
  display: flex;
  align-items: center;
  justify-content: center;

&__center {
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background-color: #2F4F4F;
}

&__minute {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 140px;
  width: 4px;
  background-color: #2F4F4F;
  border-top-right-radius: 90%;
  border-top-left-radius: 90%;
  transform-origin: bottom center;
  animation: move 60s linear  infinite;
}

&__seconds  {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 190px;
  width: 3px;
  background-color: #2F4F4F;
  border-top-right-radius: 90%;
  border-top-left-radius: 90%;
  transform-origin: bottom center;
  animation: move 1s linear  infinite;
}
}

@keyframes move {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  