%arrow-style {
  width: 7px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(9, 69, 39, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

%arrow-position {
  position: absolute;
  left: 49%;
  bottom: 50%;
}

%arrow-animation {
  animation: rotate infinite linear;
  transform-origin: bottom center;
}

%button-position {
  position: absolute;
  left: 50%;
  bottom: 100%;
}

%circles-position {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
