@keyframes sec-dial-keyframe {
  from {
    transform: rotate(-90deg) translateY($stop-watch-sec-translateY);
  }

  to {
    transform: rotate(270deg) translateY($stop-watch-sec-translateY);
  }
}

@keyframes min-dial-keyframe {
  from {
    transform: rotate(-90deg) translateY($stop-watch-min-translateY);
  }

  to {
    transform: rotate(270deg) translateY($stop-watch-min-translateY);
  }
}
