@keyframes minutes {
  from {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}

@keyframes seconds {
  from {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}

@keyframes speed-min {
  from {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}

@keyframes speed-sec {
  from {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: bottom center;
  }
}

