@mixin hand-styles($height, $width, $background-color, $animation-duration) {
  height: $height;
  width: $width;
  background-color: $background-color;
  animation: rotate-hands $animation-duration linear infinite;
}
