@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin hand($width, $height) {
  width: $width;
  height: $height;
  border-radius: 20px;
}

@mixin position-hand($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}
