@mixin arrow(
  $arrowWidth,
  $arrowHight,
  $time
  ) {
  position: absolute;
  bottom: 50%;

  width: $arrowWidth;
  height: $arrowHight;

  border-radius: 10px;

  animation: moveArrow $time infinite linear;
  transform-origin: bottom center;
}
