$minValue: 1vmin;
$borderColor: #000;
$clockSize: 80 * $minValue;
$minuteArrHeight: 20 * $minValue;
$minuteArrWidth: 3 * $minValue;
$minuteColor: #0700ff;
$minTime: 3600s;
$secArrHeight: 38 * $minValue;
$secArrWidth: 1.5 * $minValue;
$secTime: 60s;
$secArrColor: #2c8000;
$circleRange: 5 * $minValue;
$circleColor: #f6a603;
