$watch-shadow:
  0 2px 4px 0 rgb(104, 104, 104),
  inset 0 0 0 3px #efefef,
  inset 0 0 10px black,
  0 0 10px rgba(0,0,0,0.2);

$arrow-shadow:
  0 4px 8px 0 rgba(9, 69, 39, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

$button-shadow:
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

$button-ring-shadow:
  0 4px 8px 0 rgba(82, 81, 81, 0.2),
  0 6px 20px 0 rgba(30, 30, 30, 0.19),
  inset 0 2px 7px 0 rgba(53, 53, 53, 0.2),
  inset 0 1px 2px 0 rgba(43, 42, 42, 0.19);
