$width-clock: 80vmin;
$height-clock: $width-clock;
$background-color-clock: gray;
$border-clock-values: 3px solid black;

$position-circle:calc(#{$width-clock} * 0.45);
$size-circle: calc(#{$width-clock} * 0.1);
$size-circle-2: calc(#{$width-clock} * 0.9);

$width-arrow: calc(#{$width-clock} * 0.02);
$left-arrow: calc(#{$height-clock} * 0.62);
$border-radius-arrow: 60% 0%;
$border-values-arrow: 3px solid white;
