$watchSize: 600px;

$circleSize: 20px;
$circleDistance: ($watchSize - $circleSize) / 2;
$circleBorderRadius: 50%;

$hourHandHeight: $watchSize / 4;
$hourHandWidth: 10px;
$hourHandDistanceTop: ($watchSize / 2) - $hourHandHeight;
$hourHandDistanceLeft: ($watchSize - $hourHandWidth) / 2;
$handBorderRadius: 10px;

$minuteHandHeight: $watchSize / 3;
$minuteHandWidth: 6px;
$minuteHandDistanceTop: ($watchSize / 2) - $minuteHandHeight;
$minuteHandDistanceLeft: ($watchSize - $minuteHandWidth) / 2;

$secondHandHeight: ($watchSize / 2) - 10px;
$secondHandWidth: 4px;
$secondHandDistanceTop: 10px;
$secondHandDistanceLeft: ($watchSize - $secondHandWidth) / 2;

$transformOrigin: bottom center;
