$watch-area: 400px;
$padding-point: 100px;
$arrow-minute: 0.25 * $watch-area;
$arrow-second: (0.5 * $watch-area) - 10px;
$arrow-width-minute: 10px;
$arrow-width-second: $arrow-width-minute / 2;
$watch-long: 25px;
$border-watch:2px;

$color-watch: #66ffcc;
$color-black: #000;
$color-minute: #603;
$color-second: #99cd32;
