$watch-size: 80vmin;
$border-size: 1vmin;
$middle-size: 5vmin;
$hand-minutes-width: 3vmin;
$hand-minutes-height: 20vmin;
$hand-seconds-width: 1.5vmin;
$hand-seconds-height: 38vmin;
$circle: 50%;
$middle-color: #f6a603;
$hand-minutes-color: #0700ff;
$hand-seconds-color: #2c8000;
$border-color: #000;
$minutes-duration: 3600s;
$seconds-duration: 60s;
$speedup-minutes-duration: 600s;
$speedup-seconds-duration: 10s;
