$watch-height: 80vmin;
$watch-width: 80vmin;
$watch-hour-height: $watch-height * 0.5;
$watch-hour-width: $watch-width * 0.02;
$watch-center-height: $watch-height * 0.05;
$watch-center-width: $watch-height * 0.05;
$watch-minute-height: $watch-height * 0.03;
$watch-minute-width: $watch-width * 0.3;
$transform-hour-time: 60s;
$transform-minute-time: 5s;
$transform-delay: 0.5s;
