$clock-diameter: 60vh;
$hour-height: $clock-diameter / 2;
$minute-height: $clock-diameter / 3;
$center-diameter: $hour-height * 20 / 100;
$minute-width: $center-diameter / 5;
$hour-width: $center-diameter / 4;
$clock-border: $minute-width / 2;
