$colorCenter: #f6a603;
$colorBorder: #000;
$colorMinute: #0700ff;
$colorSecond: #2c8000;
$widthClock: 80vmin;
$centerClock: calc(#{$widthClock} / 16);
$heightMinute: 20vmin;
$widthMinute: 3vmin;
$heightSecond: 38vmin;
$widthSecond: 1.5vmin;
$stepSecond: 60s;
$speedUp: 10s;
