
$size-big:500px;
$size-small:30px;
$height-big-arr:240px;
$height-small-arr:200px;
$width-arr:10px;
$color-bg-big-circle:gray;
$color-bg-small-circle:white;
$color-arr-big:blue;
$color-arr-small:red;
$top-arr-big:($size-big/2)-$height-big-arr;
$top-arr-small:($size-big/2)-$height-small-arr;
$time-min:60s;
$time-hour:60s*60;
