$clock-size: 500px;
$clock-bgi:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
$clock-face-text: 50px;
$clock-face-color: lightseagreen;

$long-hand-height: 40%;
$long-hand-width: 15px;
$small-hand-height: 25%;
$small-hand-width: 15px;

$button-size: 50px;
$button-hover-color: aqua;
