$watch-face: 400px;
$radius: $watch-face/2;
$second-hand-height: 0.45 * $watch-face;
$second-hand-width: 0.01 * $second-hand-height;
$minute-hand-height: 0.35 * $watch-face;
$minute-hand-width: 0.03 * $minute-hand-height;
