//  base
$stopwatch-size: 80vmin;
$border-width: 1vmin;
$border-color: #000;

// seconds-arrow
$seconds-hand-length: 38vmin;
$seconds-hand-width: 1.5vmin;
$seconds-hand-color: #2c8000;

// minutes arrow
$minutes-hand-length: 20vmin;
$minutes-hand-width: 3vmin;
$minutes-hand-color: #0700ff;

//  center sett
$center-dot-size: 5vmin;
$center-dot-color: #f6a603;
