@mixin width-height-border-radius-color($arrow-width, $arrow-height,$border-radius, $color) {
  width: $arrow-width;
  height: $arrow-height;
  border-radius: $border-radius;
  background-color: $color;
}