.wrap {
  height: 100vh;
  display: flex;
  background-color: $color-two;
  flex-direction: column;
  align-items: center;
}

.desc {
  margin-bottom: 50px;
  color: $color-one;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.watch {
  @include position;
  position: relative;
  width: $main-size;
  height: $main-size;
  border-radius: 50%;
  border: $miliseconds-width / 2 solid $color-one;

  &__sircle {
    box-sizing: border-box;
    z-index: 3;
    width: $main-size / 15;
    height: $main-size / 15;
    background-color: $color-two;
    border-radius: 50%;
    border: $main-size / 150 solid $color-one;
  }
  &__miliseconds {
    z-index: 2;
    top: ($main-size / 2) - $miliseconds-height;
    left: ($main-size / 2) - ($miliseconds-width / 2);
    position: absolute;
    height: $miliseconds-height;
    width: $miliseconds-width;
    background-color: $color-one;
    border-radius: $miliseconds-width / 2;
    animation-name: move;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    transform-origin: ($miliseconds-width / 2) $miliseconds-height;
    animation-timing-function: steps(60);
  }

  &__minest {
    z-index: 2;
    top: ($main-size / 2) - ($miliseconds-height * 0.8);
    left: ($main-size / 2) - ($miliseconds-width / 2);
    position: absolute;
    height: $miliseconds-height * 0.8;
    width: $miliseconds-width;
    background-color: $color-one;
    border-radius: ($miliseconds-width * 0.8) / 2;
    animation-name: move;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    transform-origin: ($miliseconds-width / 2) ($miliseconds-height * 0.8);
    animation-timing-function: steps(60);
  }
}

.miniWatch {
  @include position;
  z-index: 1;
  left: $main-size / 8;
  top: $main-size / 6;
  position: absolute;
  margin: auto;
  height: $main-size * 0.3;
  width: $main-size * 0.3;
  border-radius: 50%;
  border: $main-size / 100 solid $color-one;

  &__sircle {
    box-sizing: border-box;
    z-index: 1;
    width: $main-size / 30;
    height: $main-size / 30;
    background-color: $color-two;
    border-radius: 50%;
    border: $main-size / 300 solid $color-one;
  }

  &__seconds {
    z-index: 0;
    top: (($main-size * 0.3) / 2) - $miliseconds-height * 0.3;
    position: absolute;
    height: $miliseconds-height * 0.3;
    width: $miliseconds-width * 0.2;
    background-color: $color-one;
    border-radius: $miliseconds-width * 0.4;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: ($miliseconds-width * 0.2 / 2) $miliseconds-height * 0.3;
    animation-timing-function: steps(60);
  }
}

.watch-wrap {
  border-radius: 50%;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:hover > .watch > .watch__miliseconds {
    animation-play-state: paused;
  }

  &:hover > .miniWatch > .miniWatch__seconds {
    animation-play-state: paused;
  }

  &:hover > .watch > .watch__minets {
    animation-play-state: paused;
  }
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}
