$size: 600px;
$min-arrow-width: $size / 75;
$sec-arrow-width: $size / 100;
$min-arrow-length: $size / 3;
$sec-arrow-length: $size / 2;
$min-arrow-position-top: $size / 6;
$min-arrow-position-left: ($size - $min-arrow-width) / 2;
$sec-arrow-position-left: ($size - $sec-arrow-width) / 2;
