$stopwatch-size: 80vmin;
$stopwatch-color: black;
$center-color: #f6a603;
$center-width: 5vmin;
$second-hand-color: #2c8000;
$minute-hand-color: #0700ff;
$second-hand-length: 38vmin;
$minute-hand-length: 20vmin;
$second-hand-thickness: 1.5vmin;
$minute-hand-thickness: 3vmin;
