@keyframes time {
  from {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}

@keyframes blinking {
  0% {
    background-color: $watch-background-color;
  }

  10% {
    background-color: $blinking-color;
  }
  20% {
    background-color: $watch-background-color;
  }

  30% {
    background-color: $blinking-color;
  }
  40% {
    background-color: $watch-background-color;
  }

  50% {
    background-color: $blinking-color;
  }

  60% {
    background-color: $watch-background-color;
  }

  70% {
    background-color: $blinking-color;
  }

  80% {
    background-color: $watch-background-color;
  }

  90% {
    background-color: $blinking-color;
  }

  100% {
    background-color: $watch-background-color;
  }
}
