@mixin afterArrow ($arrowHeight,$arrowWidth, $arrowLeft) {
  content: "";
  height: $arrowHeight;
  width: $arrowWidth;
  left: $arrowLeft;
  position: absolute;
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
