@mixin stopwatch-size($size) {
  height: $size;
  width: $size;
  border-radius: 10%;
}

@mixin hand($width, $height) {
  position: absolute;
  top: $size / 2 - $height;
  left: ($size - $width) / 2;

  width: $width;
  height: $height;
}
