$size-stop-watch: 450px;
$bg-stop-watch: #e0c0e5;
$box-shadow: 0 0 10000px 1px #000;

$width-minute: 8px;
$hight-minute: 190px;
$bg-minute: #eb1982;
$anime-minute: stopwatch 3600s linear infinite;
$radius-arrow: 4px;

$width-second: 6px;
$hight-second: 210px;
$bg-second: rgb(90, 13, 153);
$anime-second: stopwatch 60s steps(60, end) infinite;

$circle-in-center: 20px;
