$second: 1s;
$minute: $second*60;
$hour: $minute*60;

$hand-width: 5px;
$hand-height: 140px;

@keyframes rotate {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
