$watch-size: 400px;
$second-height: 190px;
$second-width: 4px;
$minute-height: 150px;
$minute-width: 8px;
$second-shift: ($watch-size - $second-width) / 2;
$second-shift-top: ($watch-size / 2) - $second-height;
$minute-shift: ($watch-size - $minute-width) / 2;
$minute-shit-top: ($watch-size / 2) - $minute-height;
