@mixin positioning {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%);
}

@mixin animation {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: normal;

  transform-origin: center bottom;
}
