$size-frame: 500px;
$size-face: 450px;

$seconds-width: 4px;
$seconds-height: 200px;

$black-color: #000;
$clock-face-color: rgba(5, 0, 255, 0.9);

$minutes-width: 7px;
$minutes-height: 150px;

$center-size: 20px;
$center-position: $size-face / 2 - 8px;
