@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin bottom($bottom) {
  bottom: $bottom;
}

@mixin zIndex($value) {
  z-index: $value;
}

@mixin transformOrigin($tranformOrigin) {
  transform-origin: $tranformOrigin;
}
