$stopwatch-height: 80vmin;
$stopwatch-width: 80vmin;
$minutes-height: 20vmin;
$minutes-width: 3vmin;
$minutes-top: ($stopwatch-height / 2) - $minutes-height;
$minutes-left: ($stopwatch-width / 2) - ($minutes-width / 2);
$seconds-height: 38vmin;
$seconds-width: 1.5vmin;
$seconds-top: ($stopwatch-height / 2) - $seconds-height;
$seconds-left: ($stopwatch-width / 2) - ($seconds-width / 2);
$circle-diametr: 5vmin;
$circle-top: ($stopwatch-height / 2) - ($circle-diametr / 2);
$circle-left: ($stopwatch-width / 2) - ($circle-diametr / 2);
