$border-watch: #205e61;
$second-color: #8bf5fA;
$minute-color: #3f979b;

$radius: 50%;
$radius-arrow: 10px;

$size-watch: 600px;
$size-center-gyre: 30px;
$width-arrow: 20px;
$height-second: 280px;
$height-minute: 220px;

$margin-second: ($size-watch / 2) - $height-second;
$margin-minute: ($size-watch / 2) - $height-minute;