$color-watch-bg: #eee;

$second-hand: (
  width: 20%,
  height: 6px,
  radius: 0 22px 22px 0,
  bg-color: #626284
);

$minute-hand: (
  width: 18%,
  height: 8px,
  radius: 0 22px 22px 0,
  bg-color: #c8c8c8
);
