.stopwatch__zero,
.stopwatch__fifteen,
.stopwatch__thirty,
.stopwatch__forty-five {
  position: absolute;
  font-size: 30px;
  color: #fff;
}

.stopwatch__zero {
  top: 0;
}

.stopwatch__fifteen {
  top: 190px;
  right: 0;
}

.stopwatch__thirty {
  bottom: 0;
}

.stopwatch__forty-five {
  left: 0;
  top: 190px;
}
