@mixin flex-centering() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin arrowSettings ($color, $animName,$animDuration) {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $color;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;

  animation-name: $animName;
  animation-duration: $animDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin timeAnimation ($arrow) {
  @keyframes #{$arrow} {
    0% {
      transform: translate(-50%, -100%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -100%) rotate(360deg);
    }
  }
}
