.watch {

  &__clock {
    position: relative;
    width: $size-clock;
    height: $size-clock;
    margin: 0 auto;
    background: url("/../src/img/clock.png") no-repeat;
    background-size: cover;
  }
}
