.clock {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__arrow-hour {
    height: 300px;
    background-color: $clock__arrow--big;
    top: 100px;
    animation-name: move;
    animation-duration: 60s;
    transform-origin: bottom center;
  }

  &__arrow-second {
    height: 200px;
    background-color: $clock__arrow--small;
    top: 200px;
  }

  &__center {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $clock__center;
    position: absolute;
  }

  @keyframes move {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
}
