.container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

.container__clock {
  position: relative;
  font-size: 20px;
  width: 400px;
  height: 400px;
}
