.container {
  position: relative;
  font-family: Helvetica, sans-serif;
}

.container__clock {
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
}
