.container {
  position: relative;
  font-family: Helvetica, sans-serif;
  display:flex; 
  justify-content:center; 
  align-items: center;
}

.container__clock {
  margin-left: 50%;
  margin-top: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
}
