.dial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $watch-size;
  height: $watch-size;

  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/Custom-watch-clock-face-dial-template-base.svg");
  background-position: center;
  background-size: cover;

  border: 5px solid $color-main;
  border-radius: 50%;

  &__center-dot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $center-size;
    height: $center-size;
    background-color: $color-second;
    border-radius: 50%;
  }

  &__hand {
    position: absolute;
    bottom: 50%;
    background-color: $color-main;
    border-radius: 5px;
    transform-origin: bottom center;
    height: $watch-size * 0.45;
    width: 8px;
    animation: rotate 3600s linear infinite;

    &--second {
      background-color: $color-second;
      height: $watch-size * 0.5;
      width: 6px;
      animation-duration: 60s;
    }
  }
}
