.hand-minute {
  width: 10px;
  height: 90px;
  background-color: $color-minute;
  animation: sweep 3600s infinite linear;
}

.hand-second {
  width: 5px;
  height: 140px;
  background-color: $color-second;
  animation: sweep 60s infinite linear;
}
