@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/placehoder";
@import "../utils/reset";

.main {
  @include clock ($size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
