@import "../utils/veriables.scss";

.second {
  position: absolute;
  width: $handWidth;
  height: 35vmin;
  background-color: rgb(111, 161, 232);
  animation: rotation 5s linear infinite;

  @include handAnimation;
}
