@import "../utils/veriables.scss";

.second {
  position: absolute;
  width: $handWidth;
  height: 35vmin;
  background-color: rgb(111, 161, 232);
  animation: rotation 5s linear infinite;
  border-radius: 50%;
  bottom: 50%;
  transform-origin: center bottom;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }
}
