.clock__segment {
  height: 100%;
  position: absolute;
  width: 2em;
  left: calc(50% - 1em);
  text-align: center;
  top: 0;
}

.one {
  transform: rotate(30deg);
}

.two {
  transform: rotate(60deg);
}

.three {
  transform: rotate(90deg);
}

.four {
  transform: rotate(120deg);
}

.five {
  transform: rotate(150deg);
}

.six {
  transform: rotate(180deg);
}

.seven {
  transform: rotate(210deg);
}

.eight {
  transform: rotate(240deg);
}

.nine {
  transform: rotate(270deg);
}

.ten {
  transform: rotate(300deg);
}

.eleven {
  transform: rotate(330deg);
}
