.watch {
  @include diameter($watch-diameter);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: solid 2px #000;

  &__min {
    position: absolute;
    top: ($watch-diameter / 2) - $min-arrow-heigth;
    width: $min-arrow-width;
    height: $min-arrow-heigth;
    background-color: #d46266;
    transform-origin: bottom;
    animation: time 3600s steps(60) infinite;
  }

  &__sec {
    position: absolute;
    top: 0;
    height: $sec-arrow-heigth;
    width: $sec-arrow-width;
    background-color: #4b9aaa;
    transform-origin: bottom;
    animation: time 60s steps(3600) infinite;
  }

  &__circle {
    @include diameter($circle-diameter);
    position: absolute;
    background-color: #4b9aaa;
  }
}

@keyframes time {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
