.stopwatch {
  position: relative;
  width: $watch-height;
  height: $watch-height;
  border-radius: 50%;
  border: 1vmin dotted #000;

  &__seconds {
    position: absolute;
    height: $seconds-height;
    width: $seconds-width;
    top: $seconds-shift-top;
    left: $seconds-shift-left;
    background-color: #2c8000;

    animation-name: rotate;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }

  &__minutes {
    position: absolute;
    height: $minutes-height;
    width: $minutes-width;
    top: $minutes-shift-top;
    left: $minutes-shift-left;
    background-color: #0700ff;

    animation-name: rotate;
    animation-duration: 3600s;
    animation-timing-function: steps(60);
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;

    background-color: #f6a603;
  }

  &--speed-up {
    .stopwatch__seconds {
      animation-duration: 10s;
    }

    .stopwatch__minutes {
      animation-duration: 600s;
    }
  }
}
