@import '../utils/keyframes';

.stopwatch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $watch-height;
  width: 80vmin;

  border: 1vmin dotted #000;
  border-radius: 50%;

  &__sec-hand {
    position: absolute;
    top: $sec-hand-top-position;
    z-index: 1;

    height: $sec-hand-height;
    width: 1.5vmin;
    background-color: $color-sec;

    animation: move-hand 60s infinite linear;
    transform-origin: center bottom;
  }

  &__min-hand {
    position: absolute;
    top: $min-hand-top-position;
    z-index: 0;

    height: $min-hand-height;
    width: 3vmin;
    background-color: $color-min;

    animation: move-hand 3600s steps(60, end) infinite;
    transform-origin: center bottom;
  }

  &__centre {
    position: absolute;
    z-index: 2;

    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    background-color: $color-circle;
  }

  &--speed-up {
    .stopwatch__sec-hand {
      animation-duration: 10s;
    }

    .stopwatch__min-hand {
      animation-duration: 600s;
    }
  }
}
