@mixin animation($duration, $timing) {
  animation-name: spiner;
  animation-duration: $duration;
  animation-timing-function: $timing;
  transform-origin: bottom center;
  animation-iteration-count: infinite;
}
