body {
  margin: 0;
  padding: 0;
}

.stop-watch {
  height: $clock-size;
  width: $clock-size;
  border: $border-size dotted #000;
  border-radius: 50%;
  box-sizing: border-box;

  &__hand {
    position: absolute;
  }

  &__hand--type--min {
    height: calc(#{($clock-size - ($border-size * 2)) / 2}) ;
    width: $hand-min-width;
    background-color: rgb(12, 63, 113);
    left: calc(#{$clock-size / 2 - $hand-min-width / 2});
    top: $border-size;
    animation: hands 5s infinite linear;
    animation-play-state: paused;
    z-index: 0;
  }

  &__hand--type--hour {
    height: calc(#{($clock-size - ($border-size * 2)) / 2} / 2);
    width: $hand-hour-width;
    background-color: rgb(124, 10, 10);
    left: calc(#{$clock-size / 2 - $hand-hour-width / 2});
    top: calc(#{($clock-size - ($border-size * 2)) / 2 / 2 + $border-size});
    animation: hands 60s infinite linear;
    z-index: 1;
    animation-play-state: paused;
  }

  &:hover .stop-watch__hand--type--min{
    animation-play-state: running;
  }

  &:hover .stop-watch__hand--type--hour{
    animation-play-state: running;
  }

  &__circle {
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    background-color: black;
    border-radius: 50%;
    left: calc(#{$clock-size / 2 - ($circle-size / 2)});
    top: calc(#{$clock-size / 2 - ($circle-size / 2)});
    z-index: 2;
  }
}

@keyframes hands {

  from {
    transform: rotate(0deg);
    transform-origin: bottom;
  }

  to {
    transform: rotate(360deg);
    transform-origin: bottom;
  }
}

