body {
  background-color: #dde2e2;
}

.watch {
  width: $watch-width;

  margin: 0 auto;
  padding: $watch-paddings;

  &__container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @include square($circle-size);

    background-color: #0d3527;
    border: $clock-border-size double #d1d1d1;
    box-shadow: -1px 0 31px 2px rgba(0, 0, 0, 0.75);
  }

  &__dot {
    position: absolute;
    z-index: 1;

    @include square($dot-size);

    background-color: #d1d1d1;
  }

  &__hours-clockhand {
    position: absolute;
    bottom: $clockhand-position;

    @include clockhand-size($hours-clockhand-height, $hours-clockhand-width);

    background-color: #7b2512;

    transform-origin: bottom center;
    animation: rotate 43200s linear infinite;
    @include animation;
  }

  &__minutes-clockhand {
    position: absolute;
    bottom: $clockhand-position;

    @include clockhand-size($minutes-clockhand-height,
    $minutes-clockhand-width);

    background-color: #edd2cb;

    transform-origin: bottom center;
    animation: rotate 3600s linear infinite;
    @include animation;
  }

  &__seconds-clockhand {
    position: absolute;
    bottom: $clockhand-position;

    @include clockhand-size ($seconds-clockhand-height,
    $seconds-clockhand-width);

    background-color: #d64221;

    transform-origin: bottom center;
    animation: rotate 60s linear infinite;
    @include animation;

  }
}
