$left-midde: 50%;
$watch-width: 80vmin;
$watch-hight: 80vmin;
$border-style: 1vmin dotted #000;
$hand-min-width: 3vmin;
$hand-min-height: 20vmin;
$color-min-hand: #0700ff;
$color-middle: #f6a603;
$color-sec-hand: #2c8000;
$minute-duration: 3600s;
$second-duration: 60s;
$speed-up-min-duration: 600s;
$speed-up-sec-duration: 10s;
$steps: steps(60);
