@mixin position {
  display: inline-block;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

@mixin animation-setting {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
