$watch-size: 150px;
$background-dial: rgb(183, 211, 24);
$border-color: black;
$minute-color: black;
$second-color: red;
$minute-hand-length: ($watch-size - ($watch-size * 0.1)) / 2;
$second-hand-length: ($watch-size - ($watch-size * 0.3)) / 2;
$hand-width: 4px;
$center-size: 10px;
$center-color: red;
