$watch__size: 80vmin;
$watch__center-size: 5vmin;

$watch__min-w: 3vmin;
$watch__min-h: 20vmin;
$watch__sec-w: 1.5vmin;
$watch__sec-h: 38vmin;

$watch__bg-color: #f0f0f0;
$watch__border-color: #000;
$watch__min-color: #0700ff;
$watch__sec-color: #2c8000;
$watch__center-color: #f6a603;
$watch__speed-up-min-duration: 600s;
$watch__speed-up-sec-duration: 10s;
