@mixin arrow-animation {
  animation-name: arrow-move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom center;
}

@mixin circle ($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}
