$clock--size: 500px;

$center--side: $clock--size * 0.05;

$minute-hand--height: $clock--size * 0.3;
$minute-hand--width: $minute-hand--height * 0.1;

$second-hand--height: $clock--size * 0.45;
$second-hand--width: $second-hand--height * 0.05;

$minute--color: rgb(113, 178, 239);
$second--color: rgb(245, 129, 129);
