$stopWatchSize: 500px;
$centerSize: $stopWatchSize / 20;
$mainColor: #008080;
$detailsColor: #2f4f4f;
$detailcDecorColor: pink;
$decorPointSize: $stopWatchSize / 20;
$borderSize: $stopWatchSize / 40;
