%watch-animation {
  animation-name: run;
  animation-delay: 1s;
  transform-origin: bottom;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

%position-arrow {
  position: absolute;
  bottom: 50%;
  left: 49%;
}
