$wrapper-diametr: 500px;
$circle-diametr: 40px;
$circle-position:
    calc(#{$wrapper-diametr} / 2 - #{$circle-diametr} / 2);
$width-of-pointers: 10px;
$height-of-minute-pointer:
    calc(#{$wrapper-diametr} / 4);
$height-of-second-pointer:
    calc(#{$wrapper-diametr} / 3);
$pointer-left-position:
    calc(#{$wrapper-diametr} / 2 - #{$width-of-pointers} / 2);
$pointer-minute-top-position:
    calc(#{$wrapper-diametr} / 2 - #{$height-of-minute-pointer});
$pointer-second-top-position:
    calc(#{$wrapper-diametr} / 2 - #{$height-of-second-pointer});
