$hend-color:linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
$invisible-text:rgba($color: #000, $alpha: 0);
$watch-color:linear-gradient(to right, #434343 0%, black 100%);
$shadow-watch: 50px 25px 84px -23px #000;
