$item-bgc: #000;

$watch-width: 500px;
$watch-height: 500px;

$watch-middle-width: 24px;
$watch-middle-height: 24px;

$watch-min-width: 16px;
$watch-min-height: 100px;

$watch-sec-width: 10px;
$watch-sec-height: 150px;
