$watch-size: 700px;
$center-size: $watch-size / 20;
$watchBackground: burlywood;
$handsBackground: greenyellow;
$widthHandMinute: 6px;
$heightHandMinute: 180px;
$widthHandSecond: 2px;
$heightHandSecond: 230px;

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}
