
@keyframes rotateSquare {
  0% {
    transform: rotate(0deg);
  }
  88.2% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clockShadow {
  from {
    box-shadow: 0 5px 20px red;
  }
  to {
    box-shadow: 0 5px 70px red;
  }
}

@keyframes circleBoom {
  from {
    transform: scale(1);
  }
  88.2% {
    transform: scale(1);
  }
  to {
    transform: scale(100);
  }
}

@keyframes rotateHand {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}
