@mixin animationClock ($time: 3600s) {
  animation-name: move;
  animation-duration: $time;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: left center;
}
