.body {
  margin: 0;
}

.stopwatch {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: hsl(208, 100%, 88%);
  border-radius: 50%;
  border: 10px solid #0a365c;
  left: 100px;
  &__center {
    position: absolute;
    top: 240px;
    left: 245px;
    transform: translate(-25%, -25%);
    width: 30px;
    height: 30px;
    background-color: #4280b6;
    border-radius: 50%;
    z-index: 3;
  }
  &__hand {
    border-radius: 10px;
    position: absolute;
    transform-origin: bottom;
    &_min {
      width: 12px;
      height: 200px;
      left: 245px;
      top: 50px;
      background-color: #fa4f4f;
      z-index: 2;
      animation: hand-anim 3600s linear infinite;
    }
    &_sec {
      width: 10px;
      height: 250px;
      background-color: #268cf1;
      left: 245px;
      top: 0px;
      z-index: 0;
      animation: hand-anim 60s linear infinite;
    }
  }
}

@keyframes hand-anim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
 