.body {
  margin: 0;
}

.stopwatch__center {
  position: absolute;
  top: 290px;
  left: 398px;
  transform: translate(-25%, -25%);
  width: 30px;
  height: 30px;
  background-color: #4280b6;
  border-radius: 50%;
  z-index: 3;
}

.stopwatch__hand {
  border-radius: 10px;
  position: absolute;
  transform-origin: bottom;
}

.stopwatch__hand_min {
  width: 12px;
  height: 200px;
  left: 400px;
  top: 100px;
  background-color: #fa4f4f;
  z-index: 2;
  animation: hand-anim 3600s linear infinite;
}

.stopwatch__hand_sec {
  width: 10px;
  height: 250px;
  background-color: #4280b6;
  left: 401px;
  top: 50px;
  z-index: 0;
  animation: hand-anim 60s linear infinite;
}

@keyframes hand-anim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
