$secColor: #4b9aaa;
$minColor: #d15559;
$secHandHeight: 300px;
$minHandHeight: 0.61 * $secHandHeight;
$handWidth: $secHandHeight / 30;
$watchSize: $secHandHeight * 2 + 20px;
$centerSize: $secHandHeight / 10;
$borderSize: $secHandHeight / 50;
