/*seconds controls*/
$diametr-seconds: 10px;
$background-seconds: red;
$height-seconds: 290px;
/*minutes controls*/
$diametr-minutes: 18px;
$background-minutes: rgb(0, 26, 255);
$height-minutes: 290px;
