/*seconds controls*/
$diametr-seconds: 10px;
$background-seconds: rgb(19, 14, 14);
$height-seconds: 290px;
/*minutes controls*/
$diametr-minutes: 18px;
$background-minutes: rgb(5, 8, 43);
$height-minutes: 290px;
