$clockWidth: 500px;
$centerWidth: 25px;
$colorCenter: #4b9aaa;
$colorMin: #d15559;
$colorSec: #4b9aaa;
$minHeight: 0.3 * $clockWidth;
$secHeight: 0.45 * $clockWidth;
$arrowWidth: 0.02 * $clockWidth;
$arrowTranslate: 0.01 * $clockWidth;

@mixin w-h($width, $height) {
  width: $width;
  height: $height;
}
