%animation {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top center;
  animation-direction: reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
