@mixin centerHand ($size, $hand-height, $hand-width) {
  position: absolute;
  top: getVertCenterHand($size, $hand-height, $hand-width);
  right: getHorCenterHand($size, $hand-width);

  transform-origin: ($hand-width / 2) ($hand-height - ($hand-width / 2));
}
