$clock-size: 500px;
$hour-hand-height: 143px;
$hour-hand-width: 10px;
$minute-hand-height: 220px;
$minute-hand-width: 7px;
$second-hand-height: 220px;
$second-hand-width: 5px;
$second: 1s;
$minute: 60s;
$hour: 3600s;
