@mixin size($x, $y) {
  width: $x;
  height: $y;
}

@mixin hand($color, $width, $height) {
  background: $color;
  @include size($width, $height);
}

@mixin transform($name, $degStart, $degEnd) {
  transform-origin: bottom;
  transform: rotate($degStart);

  @keyframes #{$name} {
    from {
      transform: rotate($degStart);
    }

    to {
      transform: rotate($degEnd);
    }
  }
}

@mixin animation($name, $duration, $delay) {
  animation-duration: $duration;
  animation-name: $name;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}
