$clock-size: 80vmin;
$clock-color: rgb(233, 192, 87);
$hand-color-1: rgb(66, 30, 210);
$hand-color-2: rgb(165, 42, 42);
$button-color: rgb(210, 105, 30);
$hand-border-radius: 5px;
$button-size: 5vmin;
$minutes-hand-width: 2vmin;
$seconds-hand-width: 1vmin;
