.arrow-top {
  height: 13px;
  border-top-width: 10px;
  border-left: 6px transparent solid;
  border-right: 6px transparent solid;
  border-bottom: 17px solid;
  margin: auto;
  width: 13px;
}

.arrow-top--minute {
  border-bottom-color: red;
}

.arrow-top--second {
  border-bottom-color: green;
}
