.minute-arrow {

  animation: rotating 3600s infinite linear;
  transform-origin: center bottom;
  animation-play-state: paused;
  

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  &__top {
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    border-top: 10px green;
    border-left: 6px transparent solid;
    border-right: 6px transparent solid;
    border-bottom: 17px red solid;
    margin: auto;
  }

  &__body {
    width: 5px;
    height: 130px;
    background-color: red;
    margin: 0 auto;

  }
}
