$clock-size: 400px;
$clock-radius: 50%;
$clock-face-color: #eee;
$clock-center-size: $clock-size * 0.03;
$clock-center-color: #000;
$minutes-width: 3px;
$minutes-length: $clock-size * 0.4;
$minutes-color: #000;
$seconds-width: 1.5px;
$seconds-length: $clock-size * 0.45;
$seconds-color: red;
$clock-arms-radius: 8px;
