@mixin circle ($wrap-size) {
  width: $wrap-size;
  height: $wrap-size;
}

@mixin center ($center-size) {
  width: $center-size;
  height: $center-size;
}

@mixin minute ($min-size) {
  width: $min-size;
  height: $min-size;
}

@mixin second ($sec-size) {
  width: $sec-size;
  height: $sec-size;
}
